/* Temporary: replace with real styling later */
* {
    font-family: "Poppins", system-ui, sans-serif;
}

* {
    color: var(--text-color)
}

body {
    background-color: var(--background-color);
}

input, button, select, textarea{
    border-radius: 2em;
    background-color:  var(--darker-navy);
    border-width: 0px;
}

button:hover {
    border: 1px dotted white;
}

footer {
    width: 100%;
    position:fixed;
    bottom: 0;
    background-color: var(--footer-background);
    left:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 10px;
    height:var(--footer-height);
}

.footer-spacer{
    height:var(--footer-height);
}

footer *{
    color:var(--footer-text-color);
}