{% extends 'base.html' %}

{% block head %}
<link rel="preload" href="{{ url_for('static', filename='stylesheets/index.css') }}" as="style">
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/pitScout.css') }}">
{% endblock %}

{% block title %}NerdScout{% endblock %}

{% block content %}
{% set previousPage = "javascript:history.back()" %}
{% include 'backButton.html' %}
<div>
    <div class="card">
        <label for="team">Team Number:</label><br>
        <input type="number" id="team" name="team" {% if team %}value="{{team}}"{%endif%}/>
    </div>
    {% for card in pitScout %}
    <div class="card">
        {% for question in card %}
        <div id="{{question['id']}}-container" {% if "hidden" in question %}style="display:none"{% endif %}>
        {% if not loop.first %}<br>{% endif %}
        {% if question["type"] == "text" %}
        <label for="{{question['id']}}">{{question["text"]}}</label><br>
        <input type="text" id="{{question['id']}}" name="{{question['id']}}"/>
        {% elif question["type"] == "select" %}
        <p>{{question["text"]}}</p>
        <div>
            {% for option in question["options"] %}
            <input type="checkbox" id="{{question['id']}}-{{option[1]}}" name="{{question['id']}}-{{option[1]}}" {% if "onclick" in question %}onclick="{{option[2]}}"{% endif %}/>
            <label for="{{question['id']}}-{{option[1]}}">{{option[0]}}</label>
            <br>
            {% endfor %}
            {% if "other" in question %}
            <input type="checkbox" id="{{question['id']}}-other" name="{{question['id']}}-other" onclick="showOtherInput('{{question['id']}}-other')"> <label for="{{question['id']}}-other">Other</label><br>
            <input type="text" id="{{question['id']}}-other-input" style="display:none;">
            {% endif %}
        </div>
        {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

<button onclick="submitData()" class="card">Submit</button>

<script>

    function showOtherInput(check_id){
        showIfChecked(check_id,check_id+"-input")
    }

    function showIfChecked(check_id,el_id,display="inline"){
        const el = document.getElementById(el_id);
        if (document.getElementById(check_id).checked){
            el.style.display = display;
        } else {
            el.style.display = "none";
            el.value = "";
        }
    }

    function moveup(id){
        let element = document.getElementById(id);
        if(element.previousElementSibling)
            element.parentNode.insertBefore(element, element.previousElementSibling);
    }

    function movedown(id){
        let element = document.getElementById(id);
        if(element.nextElementSibling)
            element.parentNode.insertBefore(element.nextElementSibling, element);
    }


    function getCheckbox(id){
        return document.getElementById(id).checked;
    }
    function getValue(id,checkEmpty=true){
        console.log(id);
        let value = document.getElementById(id).value;
        let valueEmpty = (checkEmpty&&(value===""));
        isEmpty ||= valueEmpty;
        if (valueEmpty){
            emptyList.push(id);
        }
        return value;
    }

    const otherInput1Box = document.getElementById("drivetrain-other-input");
    const otherCheck1 = document.getElementById("drivetrain-other");

    const otherInput2Box = document.getElementById("language-other-input");
    const otherCheck2 = document.getElementById("language-other");

    function showOtherInput1(){
        if (otherCheck1.checked){
            otherInput1Box.style = "display:inline;";
        } else{
            otherInput1Box.style = "display:none";
            otherInput1Box.value = "";
        }
    }

    function showOtherInput2(){
        if (otherCheck2.checked){
            otherInput2Box.style = "display:inline;";
        } else{
            otherInput2Box.style = "display:none";
            otherInput2Box.value = "";
        }
    }

    var isEmpty = false;
    var emptyList = [];

    function submitData(){
        isEmpty=false;
        emptyList = []

        let team = getValue("team");
        console.log(team);

        let ranking = [];
        for (const element of document.querySelectorAll(".rank-thing")){
            ranking.push(element.dataset.value);
        }

        let rawData = { {% for card in pitScout %}{% for question in card %}{% if question["type"] == "text" %}"{{question['id']}}": getValue("{{question['id']}}",{% if "hidden" in question or "optional" in question %}false{% endif %}),{% elif question["type"] == "select" %}"{{question['id']}}": { {% for option in question["options"]%}"{{option[1]}}": getCheckbox("{{question['id']}}-{{option[1]}}"),{% endfor %}{% if "other" in question %}"other": getValue("{{question['id']}}-other-input",false){% endif %} },{% endif %}{% endfor %}{% endfor %} };

        if (isEmpty) {
            alert("Please fill out every field. Missing: "+emptyList.join(", "));
            return;
        }

        console.log(rawData);

        let data = JSON.stringify(rawData);
        console.log(data);

        fetch(window.location.href, {
            method: "POST",
            body: data,
            headers: {
                "Content-type": "application/json; charset=UTF-8",
                "team":team
            }
            }).then(response =>{
                if (response.ok){
                    if (confirm('Submitted! Redirect to image submision page?')){
                        window.location.href="{{url_for('addTeamImagePage')}}?team="+team;
                    } else if (confirm("Redirect to team page?")){
                        window.location.href="{{url_for('teamPage')}}?team="+team;
                    };
                } else {
                    alert("Error submitting!");
                }
        });
    }
</script>
{% endblock %}