{% extends 'base.html' %}

{% block head %}
<link rel="preload" href="{{ url_for('static', filename='stylesheets/index.css') }}" as="style">
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/pitScout.css') }}">
{% endblock %}

{% block title %}NerdScout{% endblock %}

{% block content %}
{% set previousPage = "javascript:history.back()" %}
{% include 'backButton.html' %}

    <div class="card">
        <label for="team">Team Number:</label>
        <input type="number" id="team" name="team" {% if team %}value="{{team}}"{%endif%}/>
    </div>

    <div class="card">
        <label for="drivebase">What drivebase do they use?</label>
        <input type="text" id="drivebase" name="drivebase"/>
    </div>
    <div class="card">
        <p>What programming language(s) do they use?</p>
        <div>
            <div>
                <input type="checkbox" id="language-java" name="language-java"> <label for="language-java">Java</label>
            </div>
            <div>
                <input type="checkbox" id="language-cpp" name="language-cpp"> <label for="language-cpp">C++</label>
            </div>
            <div>
                <input type="checkbox" id="language-python" name="language-python"> <label for="language-python">Python</label>
            </div>
            <div>
                <input type="checkbox" id="language-labview" name="language-labview"> <label for="language-labview">LabView</label>
            </div>
            <div>
                <input type="checkbox" id="language-other" name="language-other" onclick="showOtherInput()"> <label for="language-labview">Other</label><br>
                <input type="text" id="language-other-input" style="display:none;">
            </div>
        </div>
    </div>
    <div class="card">
        <label for="camera">Do they CURRENTLY have a camera on their robot? If so, describe:</label>
        <input type="text" id="camera" name="camera">
    </div>
    <div class="card">
        <label for="preload">How much fuel can they preload before the match? </label><br>
        <input type="number" id="preload" name="preload" min="0" max="8"/>
    </div>
    <div class="card">
        <p>What can they realistically do during auto?</p>
        <div>
            {% for capability in autoCapabilities %}
            <div>
                <input type="checkbox" id="{{capability[1]}}" name="{{capability[1]}}"> <label for="{{capability[1]}}">{{capability[0]}}</label>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="card">
        <p>What can they realistically do during teleop?</p>
        <div>
            {% for capability in teleCapabilities %}
            <div>
                <input type="checkbox" id="{{capability[1]}}" name="{{capability[1]}}"> <label for="{{capability[1]}}">{{capability[0]}}</label>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="card">
        <label for="hold">How much fuel can they intake and hold at a time? </label><br>
        <input type="number" id="hold" name="hold" min="0"/>
    </div>
    <div class="card">
        <label for="time">What is their average cycle time? </label><br>
        <input type="text" id="time" name="time"/>
    </div>
    <div class="card">
        <label for="role">What role does their robot serve? </label><br>
        <input type="text" id="role" name="role"/>
    </div>
    <div class="card">
        <label for="weight">What is their robot weight (without batteries and bumpers) (lbs)? </label><br>
        <input type="number" id="weight" name="weight"/>
    </div>
    <div class="card"> 
        <label for="special">Anything special we should know about their robot? </label><br>
        <input type="text" id="special" name="special"/>
    </div>
    <div class="card">
        <label for="organize">Observe for yourself and don't ask a question: how organized is their pit? </label><br>
        <input type="text" id="organize" name="organize"/>
    </div>
    <div class="card">
        <label for="comment">Any other comments? </label><br>
        <input type="text" id="comment" name="comment"/>
    </div>
</div>

<button onclick="submitData()" class="card">Submit</button>

<script>
    function getCheckbox(id){
        return document.getElementById(id).checked;
    }
    function getValue(id,checkEmpty=true){
        let value = document.getElementById(id).value;
        let valueEmpty = (checkEmpty&&(value===""));
        isEmpty ||= valueEmpty;
        if (valueEmpty){
            emptyList.push(id);
        }
        return value;
    }

    var otherInputBox = document.getElementById("language-other-input");
    var otherCheck = document.getElementById("language-other");

    function showOtherInput(){
        console.log(otherCheck.checked);
        if (otherCheck.checked){
            otherInputBox.style = "display:inline;";
        } else{
            otherInputBox.style = "display:none";
            otherInputBox.value = "";
        }
    }

    var isEmpty = false;
    var emptyList = [];

    function submitData(){
        isEmpty=false;
        emptyList = []

        let team = getValue("team");
        console.log(team);

        let rawData = {
            "drivebase": getValue("drivebase"),
            "languages": {
                "java": getCheckbox("language-java"),
                "c++": getCheckbox("language-cpp"),
                "python": getCheckbox("language-python"),
                "labview": getCheckbox("language-labview"),
                "other": getValue("language-other-input",false)
            },
            "camera": getValue("camera"),
            "preload": getValue("preload"),
            "auto": {
                {% for capability in autoCapabilities %}
                "{{capability[1]}}":getCheckbox("{{capability[1]}}"),
                {% endfor %}
                "climb":{% for n in ('center','side','inside') %}getCheckbox("auto-climb1-{{n}}")||{% endfor %}false
            },
            "tele": {
                {% for capability in teleCapabilities %}
                "{{capability[1]}}":getCheckbox("{{capability[1]}}"),
                {% endfor %}
            },
            "hold":getValue("hold"),
            "time":getValue("time"),
            "role":getValue("role"),
            "weight":getValue("weight"),
            "special":getValue("special",false),
            "organization":getValue("organize"),
            "comment":getValue("comment",false),
            {% for i in range(1,4)%}
            "climb{{i}}":{% for n in ('center','side','inside') %}getCheckbox("tele-climb{{i}}-{{n}}")||{% endfor %}false,
            {% endfor %}
        }

        if (isEmpty) {
            alert("Please fill out every field. Missing: "+emptyList.join(", "));
            return;
        }

        console.log(rawData);

        let data = JSON.stringify(rawData);
        console.log(data);

        fetch(window.location.href, {
            method: "POST",
            body: data,
            headers: {
                "Content-type": "application/json; charset=UTF-8",
                "team":team
            }
            }).then(response =>{
                if (response.ok){
                    if (confirm('Submitted! Redirect to image submision page?')){
                        window.location.href="{{url_for('addTeamImagePage')}}?team="+team;
                    } else if (confirm("Redirect to team page?")){
                        window.location.href="{{url_for('teamPage')}}?team="+team;
                    };
                } else {
                    alert("Error submitting!");
                }
        });
    }
</script>
{% endblock %}