{% extends 'base.html' %}

{% block head %}
<!-- <script src="{{ url_for('static', filename='javascript/match.js') }}" defer></script>
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/match.css') }}"> -->
<link rel="stylesheet" href="{{ url_for('static',filename='stylesheets/team.css') }}">
{% endblock %}

{% block title %}Team Viewer {{ team["number"] }}{% endblock %}

{% block content %}
<h1>Team {{ team["number"] }}</h1>
<p>This is the temporary team display page</p>

<p>Team name: {{ team["shortName"] }}</p>
<p>{{ team["longName"] }}</p>

{% for image in team["images"] %}
<img src="{{ url_for('static', filename=image['location']) }}" class="teamImage">
{% endfor %}

<p>Comment: {{ team["comments"] }}</p>

<a href="{{ url_for('addTeamImagePage', team=team['number']) }}">Add an image</a>
<a href="{{ url_for('setTeamComment', team=team['number']) }}">Set team comment</a>

<h2>Statistics</h2>
{% for key, value in stats.items() %}
<h3>{{ key }}</h3>
<ul>
    <li>Mean: {{ value["mean"] }}</li>
    <li>Median: {{ value["median"] }}</li>
    <li>Mode: {{ value["mode"] }}</li>
    <li>Lowest: {{ value["lowestMatch"]["value"] }}{% if value["lowestMatch"]["displayName"]%} in <a href="{{ url_for('renderMatch',matchNum=value['lowestMatch']['matchNumber'],setNum=value['lowestMatch']['setNumber'],compLevel=value['lowestMatch']['compLevel']) }}">{{ value['lowestMatch']['displayName'] }}</a>{% endif %}</li>
    <li>Highest: {{ value["highestMatch"]["value"] }}{% if value["highestMatch"]["displayName"]%} in <a href="{{ url_for('renderMatch',matchNum=value['highestMatch']['matchNumber'],setNum=value['highestMatch']['setNumber'],compLevel=value['highestMatch']['compLevel']) }}">{{ value['highestMatch']['displayName'] }}</a>{% endif %}</li>
</ul>
{% endfor %}

<p>{{ team }}</p>

<ul>
    {% for match in matches %}
    <li>
        <a href="{{ url_for('renderMatch',matchNum=match['matchNumber'],setNum=match['setNumber'],compLevel=match['compLevel']) }}">{{match['displayName']}}</a>
    </li>
    {% endfor %}
</ul>

{% endblock %}