{% extends 'base.html' %}

{% block head %}
<!-- <script src="{{ url_for('static', filename='javascript/match.js') }}" defer></script>
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/match.css') }}"> -->
{% endblock %}

{% block title %}Team Viewer {{ team["number"] }}{% endblock %}

{% block content %}
<h1>Team {{ team["number"] }}</h1>
<p>This is the temporary team display page</p>

<p>Team name: {{ team["shortName"] }}</p>
<p>{{ team["longName"] }}</p>

{% for image in team["images"] %}
<img src="{{ url_for('static', filename=image['location']) }}">
{% endfor %}

<p>Comment: {{ team["comments"] }}</p>

<a>Add an image</a>
<a>Set team comment</a>

<p>{{ team }}</p>

<ul>
    {% for match in matches %}
    <li>
        <a href="{{ url_for('renderMatch',matchNum=match['matchNumber'],setNum=match['setNumber'],compLevel=match['compLevel']) }}">{{match['displayName']}}</a>
    </li>
    {% endfor %}
</ul>

{% endblock %}