{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static', filename='javascript/teamSelect.js') }}" defer></script>
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/teamSelect.css') }}">
{% endblock %}

{% block title %}Team Select{% endblock %}

{% block content %}
<h1>Team Select</h1>
<div class="search-input">
    <label for="teamInput">Search: </label>
    <input type="text" id="teamInput" name="teamInput" {% if team > -1 %}value={{ team }}{% endif %}>
</div>
<div class="search-bar">
    <div>
        <label for="searchType">By: </label>
        <select name="searchType" id="searchType">
            <option value="name">Team Name</option>
            <option value="number" {% if team > -1 %}selected{% endif %}>Team Number</option>
        </select>
    </div>
    <div>
        <input type="checkbox" id="teamExact" name="teamExact">
        <label for="teamExact">Exact?</label>
    </div>
    <button onclick="updateSearch()">Search</button>
</div>

<ul>
{% for team in teams %}
    <div class="team-div" data-name="{{ team['shortName'] }}" data-num="{{ team['number'] }}">
        <br>
        <h1>{{ team["shortName"] }} - {{ team["number"] }}</h1>
        <p>{{ team["longName"] }}</p>
        <a href="?team={{ team['number'] }}">To Page</a>
        <!-- <p>{{ team }}</p> -->
        <br><br><br>
    </div>
{% endfor %}
</ul>

{% endblock %}