{% extends 'base.html' %}

{% block head %}
<!-- <script src="{{ url_for('static', filename='javascript/match.js') }}" defer></script>
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/match.css') }}"> -->
<link rel="preload" href="{{ url_for('static', filename='stylesheets/team.css') }}" as="style">
<link rel="stylesheet" href="{{ url_for('static',filename='stylesheets/team.css') }}">
{% endblock %}

{% block title %}Team {{ team["number"] }} - {{ team["shortName"] }}{% endblock %}

{% block content %}
{% set previousPage = url_for("teamPage") %}
{% include 'backButton.html' %}
<div class="card" style="position: relative;">
<h1>Team {{ team["number"] }}</h1>
<img src="https://www.thebluealliance.com/avatar/2026/frc{{team['number']}}.png" id="avatar" onerror="this.onerror=null; this.style='display:none;'">
<h2>{{ team["shortName"] }}</h2>
<p class="teamLong">{{ team["longName"] }}</p>

</div>

<div class="card">
    <h1>Pit Scouting</h1>
    {% if team["pitScout"] %}
    <div>
        <p>Scouted by: </p>
        <select id="pitScoutSelect" onchange="updatePitScout()">
            <!-- <option value="0" selected>None</option> -->
            {% for pitScout in team["pitScout"]%}
            <option value="{{loop.index}}" {% if loop.last %}selected{% endif %}>{{pitScout["user"]}}</option>
            {% endfor %}
        </select>
        {% for pitScout in team["pitScout"]%}
        {% set data = pitScout['data'] %}
        <div class="pit-scout pit-{{loop.index}} hidden">
            <!-- {{data}} -->
            {% for thing in pitScoutQuestions %}{% for question in thing %}
            {% if question["type"] == "text" %}
            {% if data[question["id"]] != ""%}
            <p>{{question["text"]}}</p>
            <ul>
                <li>{{data[question["id"]]}}</li>
            </ul>
            {% endif %}
            {% elif question["type"] == "select"%}
            <p>{{question["text"]}}</p>
            <ul>
            {% for option in question["options"] %}
                <li class="{{"checked" if data[question["id"]][option[1]] else "unchecked"}}">{{data[question["id"]][option[1]]}}: {{option[0]}}</li>
            {% endfor %}
            {% if "other" in question and data[question["id"]]["other"] != "" %}
                <li class="checked">Other: {{data[question["id"]]["other"]}}</li>
            {% endif %}
            </ul>
            {% endif %}
            {% endfor %}{% endfor %}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <a href="{{url_for('scoutTeam',team=team['number'])}}">Scout this team</a>
</div>

{% if team["images"] %}
<div id="teamImagesContainer">
        <div id="leftArrow" class="imageNav" onclick="changeImage(false)">&#xe5c4</div>
        <div id="rightArrow" class="imageNav" onclick="changeImage(true)">&#xe5c8</div>
    <div id="teamImages">
        {% for image in team["images"] %}
        <div style="background-image:url({{ url_for('static', filename=image['location']) }})" class="teamImage" id="img{{ loop.index0 }}"></div>
        {% endfor %}
    </div>
</div>
{% endif %}

<!-- <div class="card">
<h2>Comments</h2>
{% for comment in team["comments"] %}
<p>{{ comment["user"] }}: {{ comment["comment"] }}</p>
{% endfor %}
{% if not team["comments"] %}
<p>No comments :(</p>
{% endif %}
</div> -->

<div class="card">
<a href="{{ url_for('addTeamImagePage', team=team['number']) }}">Add an image</a>
<!-- <a href="{{ url_for('setTeamComment', team=team['number']) }}">Add team comment</a> -->
</div>

<div class="card">
<h2>Statistics</h2>
<select name="stats" id="stats" onchange="changeStat()">
    {% for key, value in stats.items()%}
    <option value="{{ key }}">{{ keyDisplayNames[key] }}</option>
    {% endfor %}
</select>
{% for key, value in stats.items() %}
<div id="{{ key }}" class="statistic hidden">
<h3>{{ keyDisplayNames[key] }}</h3>
    <ul>
        <li>Mean: {{ value["mean"] }}</li>
        <li>Median: {{ value["median"] }}</li>
        <li>Mode: {{ value["mode"] }}</li>
        <li>Lowest: {{ value["lowestMatch"]["value"] }}{% if value["lowestMatch"]["displayName"]%} in <a href="{{ url_for('renderMatch',matchNum=value['lowestMatch']['matchNumber'],setNum=value['lowestMatch']['setNumber'],compLevel=value['lowestMatch']['compLevel']) }}">{{ value['lowestMatch']['displayName'] }}</a>{% endif %}</li>
        <li>Highest: {{ value["highestMatch"]["value"] }}{% if value["highestMatch"]["displayName"]%} in <a href="{{ url_for('renderMatch',matchNum=value['highestMatch']['matchNumber'],setNum=value['highestMatch']['setNumber'],compLevel=value['highestMatch']['compLevel']) }}">{{ value['highestMatch']['displayName'] }}</a>{% endif %}</li>
    </ul>
</div>
{% endfor %}
</div>

<!--<p>{{ team }}</p>-->

<div class="card">
<h2>Matches</h2>
<ul>
    {% for match in matches %}
    <li>
        <a href="{{ url_for('renderMatch',matchNum=match['matchNumber'],setNum=match['setNumber'],compLevel=match['compLevel']) }}">{{match['displayName']}}</a>
        {% for section in ["red1","red2","red3","blue1","blue2","blue3"] %}
        {% if match['teams'][section] == team["number"]%}
        {% if section in match['results']%}
        {% if match['results'][section]|length > 0 %}
        <p>Score Impact: {{match['results'][section][-1]['score']}} (scouted by {{match['results'][section][-1]['scout']}})</p>
        {% endif %}
        {% endif %}
        {% endif %}
        {% endfor %}
    </li>
    {% endfor %}
</ul>
</div>

{% if team["pitScout"] %}
<script>
    function updatePitScout(){
        let visible = document.getElementById("pitScoutSelect").value;
        let visibleClass = "pit-"+visible;
        for (const pitScout of document.querySelectorAll(".pit-scout")){
            pitScout.classList.add("hidden");
            if (pitScout.classList.contains(visibleClass)){
                pitScout.classList.remove("hidden")
            }
        }
    }
    addEventListener("DOMContentLoaded",updatePitScout());
</script>
{% endif %}

{% if team["images"] %}
<script>
    const images = document.getElementById("teamImages");
    let currentImage = 0;
    const numberOfImages = {{ team["images"]|length -1 }};

    const options = {
        root: null,
        rootMargin: "0px",
        scrollMargin: "0px",
        threshold: 0.7,
    };

    

    let imageList = [];
    for (let i = 0; i < numberOfImages+1; i++) {
        imageList.push(document.getElementById("img"+i));
    }
    //console.log(imageList);

    const callback = (entries, observer) => {
        entries.forEach((entry) =>{
            currentImage = imageList.indexOf(entry.target);
            //console.log("detected a change: "+currentImage);
        });
    }

    addEventListener("DOMContentLoaded", (event) => {
        images.scrollLeft = 0;
        currentImage = 0;
    })

    function changeImage(next) {
        if (next && currentImage < numberOfImages){
            currentImage += 1;
        } else if (!next && currentImage > 0){
            currentImage -= 1;
        }

        //console.log("current image: "+currentImage);
        document.getElementById("img"+currentImage).scrollIntoView({behavior:"smooth"});
    }

    const observer = new IntersectionObserver(callback, options);
    for (i = imageList.length-1; i >= 0; i--){
        observer.observe(imageList[i]);
    }
</script>
{% endif %}

<script>
    const dropdown = document.getElementById("stats")

    function changeStat(){
        var stat = dropdown.value;
        var listItem = document.getElementById(stat);
        listItem.classList.remove("hidden");
        var activeItems = document.getElementsByClassName("active");
        for (i=0; i < activeItems.length; i++){
            var activeItem = activeItems[i]
            activeItem.classList.remove("active");
            activeItem.classList.add("hidden");
        }
        listItem.classList.add("active");
    }

    addEventListener("DOMContentLoaded", changeStat())
</script>

<div class="card">
    <h2>Stat matrix</h2>
    <canvas width="1000" height="1000" id="stat-matrix-canvas"></canvas>
</div>
<script>
    const stat_matrix_canvas = document.getElementById("stat-matrix-canvas");
    const stat_matrix_ctx = stat_matrix_canvas.getContext("2d");

    const stat_width  = stat_matrix_canvas.width;
    const stat_height = stat_matrix_canvas.height;

    const half_width = stat_width/2;
    const half_height = stat_width/2;

    const matrix_size = Math.min(half_width*0.6,half_height*0.6);

    const stat_count = 6;

    const stat_values = [
        {{ statMatrix["offense"] }},
        {{ statMatrix["defense"] }},
        {{ statMatrix["driver"] }},
        {{ statMatrix["passing"] }},
        {{ statMatrix["stealing"] }},
        {{ statMatrix["autos"] }},
    ];

    const stat_names = [
        "Offense",
        "Defense",
        "Driving Skill",
        "Passing",
        "Stealing",
        "Autos"
    ];
    const text_offset_x = [
        0,
        70,
        90,
        0,
        -70,
        -50
    ];
    const text_offset_y = [
        -10,
        -10,
        20,
        30,
        20,
        0
    ];

    const text_color = "white";
    const line_color = "white";
    const fill_color = "#5386E4";

    function drawStatMatrix(){
        stat_matrix_ctx.fillStyle = "white";
        stat_matrix_ctx.clearRect(0,0,stat_width,stat_height);

        let sins = [];
        let coss = [];

        stat_matrix_ctx.beginPath();
        stat_matrix_ctx.moveTo(half_width, half_height-matrix_size*stat_values[0]);
        stat_matrix_ctx.fillStyle = fill_color;
        for (let i = 0; i < stat_count; i++){
            let angle = 2*Math.PI * i / stat_count;
            sins.push(Math.sin(angle)*matrix_size);
            coss.push(Math.cos(angle)*matrix_size);
            stat_matrix_ctx.lineTo(half_width+sins[i]*stat_values[i],half_height-coss[i]*stat_values[i]);
        }
        stat_matrix_ctx.lineTo(half_width, half_height-matrix_size*stat_values[0]);
        stat_matrix_ctx.fill();

        stat_matrix_ctx.beginPath();
        stat_matrix_ctx.moveTo(half_width, half_height-matrix_size);
        stat_matrix_ctx.fillStyle = text_color;
        stat_matrix_ctx.strokeStyle = line_color;
        stat_matrix_ctx.font = "30px Poppins";
        stat_matrix_ctx.textAlign = "center";
        for (let i = 0; i < stat_count; i++){
            let curx = half_width+sins[i];
            let cury = half_height-coss[i];
            stat_matrix_ctx.lineTo(curx,cury);
            stat_matrix_ctx.lineTo(half_width,half_height);
            stat_matrix_ctx.lineTo(curx,cury);
            stat_matrix_ctx.fillText(stat_names[i],curx+text_offset_x[i],cury+text_offset_y[i]);
        }
        stat_matrix_ctx.lineTo(half_width, half_height- matrix_size);
        stat_matrix_ctx.stroke();

    }

    drawStatMatrix();
</script>

{% endblock %}