/* Temporary: replace with real styling later */
* {
    font-family: "Poppins", system-ui, sans-serif;
}

* {
    color: var(--text-color)
}

body {
    background-color: var(--background-color);
}

input, button, select, textarea{
    border-radius: 2em;
    background-color:  var(--darker-navy);
    border-width: 0px;
}

footer {
    width: 100%;
    position:fixed;
    bottom: 0;
    background-color: var(--footer-background);
    left:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 10px;
    height:var(--footer-height);
    z-index: 99;
}

.footer-spacer{
    height:var(--footer-height);
}

footer *{
    color:var(--footer-text-color);
}

input[type="checkbox"]{
    accent-color: var(--anthony-wheeler-bwoo);
}

.card{
    background-color: var(--darker-navy);
    box-sizing: border-box;
    padding:8px;
    margin-top:10px;
    border-radius: 2rem;
    width:500px;
}

@media screen and (width < 520px){
    .card{
        width: 95vw !important;
    }
}

.icon{
    font-family: 'Material Symbols Sharp';
    font-size: 40px;
}

#backButtonContents, #nextButtonContents{
    display:flex;
    align-items: center;
}

#backButton, #nextButton{
    width:fit-content !important;
}

#backButtonLink, #nextButtonLink{
    text-decoration: none;
}

.indented {
    padding-left: 40px;
}