/* Temporary: replace with real styling later */
* {
    font-family: "Poppins", system-ui, sans-serif;
}

* {
    color: var(--text-color)
}

body {
    background-color: var(--background-color);
}

input, button, select, textarea{
    border-radius: 2em;
    background-color:  var(--darker-navy);
    border-width: 0px;
}

footer {
    width: 100%;
    position:fixed;
    bottom: 0;
    background-color: var(--footer-background);
    left:0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 10px;
    height:var(--footer-height);
    z-index: 99;
}

.footer-spacer{
    height:var(--footer-height);
}

footer *{
    color:var(--footer-text-color);
}

input[type="checkbox"]{
    accent-color: var(--anthony-wheeler-bwoo);
}

.card{
    background-color: var(--darker-navy);
    box-sizing: border-box;
    padding:8px;
    margin-top:10px;
    border-radius: 2rem;
    width:500px;
}

@media screen and (width < 520px){
    .card{
        width: 95vw !important;
    }
}

.icon{
    font-family: 'Material Symbols Sharp';
    font-size: 40px;
}

#backButtonContents, #nextButtonContents{
    display:flex;
    align-items: center;
}

#backButton, #nextButton{
    width:fit-content !important;
}

#backButtonLink, #nextButtonLink{
    text-decoration: none;
}

.indented {
    padding-left: 40px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.switch span:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.switch input:checked + span {
    background-color: var(--anthony-wheeler-bwoo);
}

.switch input:focus + span {
    box-shadow: 0 0 1px var(--anthony-wheeler-bwoo);
}

.switch input:checked + span:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}