.center-horizontal {
    width: 100%;
    padding: 0;
    display:flex;
    justify-content: center;
}
/* 
.red-table {
    border: 2px solid red;
}

.blue-table {
    border: 2px solid blue;
} */

.red-table, .blue-table{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: max(90%,500px);
}

.red-table > div{
    width:100%;
    border:2px solid red;
    /* border-bottom: 1px solid white; */
}
.blue-table > div {
    width:100%;
    border:2px solid blue;
    /* border-bottom: 1px solid white; */
}

.spacer {
    height: 100px;
}

.match-data{
    border:1px dotted white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}



.dropdown-button {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.dropdown-content-div {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-element {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-div.show {display:block;}

.match-data.hidden {
    display:none;
}

.hide {
    display:none !important;
}

.reef-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    column-gap: 50px;
}

.pos-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
}
.pos-div div{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.reef-div div{
    position: relative;
}

.reef-div img {
    position: relative;
    left:10px;
}

.reef-div p{
    position: relative;
    /* left:200px; */
    font-size: x-large;
}

.reef-l4 {
    top:0;
}

.reef-l3 {
    top:50px;
}

.reef-l2 {
    top:70px;
}

.reef-l1 {
    top:180px;
}

.section-title{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: 1px solid white; */
    border-top: 1px solid white;
}

.startPosImg{
    height: 10vh;
}

.teamNumber{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

.teamNumberWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.pos-div{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.pos-div img{
    margin: 1em;
}

.pos-div div{
    margin:0px;
}

.pos-div h3{
    margin: 0px;
}

.scoredBy{
    width: 100%;
    display: flex;
    justify-content: center;
}

.leaveBlock{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.leaveBlock img{
    height: 2em;
}

.leaveBlock h3{
    padding: 0px;
    margin: 0px;
}

.reef-div{
    display:flex;
    flex-direction: column;
    width:100%;
    justify-content: center;
    align-items: center;
    padding: 2%;
    padding-left: 0px;
}

.table{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.cell{
    outline-offset: -0.125em;
    width:3em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25em;
    margin:0.2em;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.cell2{
    width: 6.5em;
}

.cell3{
    width: 9.8em;
}

.cell4{
    width:13.2em;
}

.cell5{
    width: 17em;
}

.miss{
    background-color: rgba(255,0,0,.25) ;
}

.algaeDiv{
    padding: 2%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 0px;
}

.endPosDiv{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 2%;
    padding-left: 0px;
}

.foulDiv{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 2%;
    padding-left: 0px;
}

.select-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.select-div button {
    font-size: xx-large;
    width: 200px;
    height: 100px
}