.center-horizontal {
    width: 100%;
    padding: 0;
    display:flex;
    justify-content: center;
}

.red-table {
    border: 2px solid red;
}

.blue-table {
    border: 2px solid blue;
}

.red-table, .blue-table{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: max(90%,500px);
}

.red-table > div, .blue-table > div {
    width:100%;
    border:1px dotted white;
    /* border-bottom: 1px solid white; */
}

.spacer {
    height: 100px;
}

.match-data{
    border:1px dotted white;
}



.dropdown-button {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.dropdown-content-div {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-element {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-div.show {display:block;}

.match-data.hidden {
    display:none;
}

.reef-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    column-gap: 50px;
}

.pos-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
}
.pos-div div{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.reef-div div{
    position: relative;
}

.reef-div img {
    position: relative;
    left:10px;
}

.reef-div p{
    position: relative;
    /* left:200px; */
    font-size: x-large;
}

.reef-l4 {
    top:0;
}

.reef-l3 {
    top:50px;
}

.reef-l2 {
    top:70px;
}

.reef-l1 {
    top:180px;
}

.section-title{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: 1px solid white; */
    border-top: 1px solid white;
}

.match-data{
    display: flex;
    flex-direction: row;
}

.startPosImg{
    height: min-content;
}
    