.hide {
    display:none;
}

.small {
    font-size: small;
    font-weight: 200;
}

.match-div{
    background-color: var(--darker-navy);
    box-sizing: border-box;
    border-radius: 2rem;
    padding: 8px;
    margin-bottom:10px;
    width:500px;
}

#matchList{
    padding:0;
}

.teamTable{
    width: 60%;
    box-sizing: border-box;
}

.redTeam{
    border:1px solid var(--red-alliance);
}

.redTeam a{
    color: var(--red-alliance);
}

.blueTeam{
    border:1px solid var(--blue-alliance);
}

.blueTeam a{
    color: var(--blue-alliance);
}

td{
   text-align: center;
}

.scouted{
    background-color: #ffffff1a;
}

.scouted a{
    text-decoration: none;
}

@media screen and (width < 520px){
    .match-div{
        width:95vw !important; 
    }
}