body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-horizontal {
    width: 100%;
    padding: 0;
    display:flex;
    justify-content: center;
}
/* 
.red-table {
    border: 2px solid red;
}

.blue-table {
    border: 2px solid blue;
} */

.red-table, .blue-table{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: max(90%,250px);
}

.red-table > div{
    width:100%;
    border:2px solid var(--red-alliance);
    /* border-bottom: 1px solid white; */
}
.blue-table > div {
    width:100%;
    border:2px solid var(--blue-alliance);
    /* border-bottom: 1px solid white; */
}

.spacer {
    height: 100px;
}

.match-data{
    border:1px dotted white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}



.dropdown-button {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.dropdown-content-div {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-element {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-div.show {display:block;}

.match-data.hidden {
    display:none;
}

.hide {
    display:none !important;
}

.reef-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    column-gap: 50px;
}

.pos-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
}
.pos-div div{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.reef-div div{
    position: relative;
}

.reef-div img {
    position: relative;
    left:10px;
}

.reef-div p{
    position: relative;
    /* left:200px; */
    font-size: x-large;
}

.reef-l4 {
    top:0;
}

.reef-l3 {
    top:50px;
}

.reef-l2 {
    top:70px;
}

.reef-l1 {
    top:180px;
}

.section-title{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: 1px solid white; */
    border-top: 1px solid white;
}

.startPosImg{
    height: 10vh;
}

.teamNumber{
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

.teamNumberWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.pos-div{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.pos-div img{
    margin: 1em;
}

.pos-div div{
    margin:0px;
}

.pos-div h3{
    margin: 0px;
}

.scoredBy{
    width: 100%;
    display: flex;
    justify-content: center;
}

.leaveBlock{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.leaveBlock img{
    height: 2em;
}

.leaveBlock h3{
    padding: 0px;
    margin: 0px;
}

.sectionDiv{
    display:flex;
    flex-direction: column;
    width:100%;
    justify-content: center;
    align-items: center;
    padding: 2%;
    padding-left: 0px; 
}

.table{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
}

.cell{
    outline-offset: -0.125%;
    width:15vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25%;
    margin:1vw;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 0.5em;
}

.cell2{
    width: 32vw;
}

.cell3{
    width: 49vw;
}

.cell4{
    width: 60.6vw;
}

.cell5{
    width: 76.4vw;
}

.miss{
    background-color: rgba(255,0,0,.25) ;
}

.foulDiv{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 2%;
    padding-left: 0px;
}

.select-div {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1%;
}

.select-div button {
    font-size: medium;
    width: 100%;
    height: 3em;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.7px);
    -webkit-backdrop-filter: blur(12.7px); 

    transition: background 0.25s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.red-div {
    margin-right: 2px;
}

.blue-div {
    margin-left: 2px;
}

.redButton, .blueButton {
    margin: 2px;
}

.redButton{
    /* border: 1px solid #DC3F618C; */
    background: #DC3F612c;
}

.blueButton{
    /* border: 1px solid #5386E48C; */
    background: #5386E42c;
}

.redButton.scored{
    background: #DC3F618C;
}

.blueButton.scored{
    background: #5386E48C;
}

.redButton:active{
    background: #DC3F61FF;
}

.blueButton:active{
    background: #5386E4FF   ;
}

@media (orientation: landscape){
    .red-div{
        display: flex;
        flex-direction: row;
        flex-grow: 1;
    }

    .blue-div{
        display: flex;
        flex-direction: row;
        flex-grow: 1;
    }
}

@media (orientation: portrait){
    .red-div{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .blue-div{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}

#remove {
    width: 100%;
    display:flex;
    justify-content: center;
}


.score-breakdown {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    row-gap: 2px;
}

.red-score, .blue-score{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    column-gap: 2px;
}

.score-div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70px;
    /* row-gap: 10px; */
}

.score-div .number, .score-div .score{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60px;
}

.score-div .number p, .score-div .score p {
    /* height: 5px; */
    margin: 2px;
    /* margin-bottom: 20px; */
}

.score-div .number p{
    font-weight: bold;
}

.red-score .score-div{
    background:#DC3F618C;
    border-radius: 16px;
}

.blue-score .score-div{
    background:#5386E48C;
    border-radius: 16px;
}

.score-div.colorless {
    background:#88888831;
    border-radius: 16px;
}

#backButtonLink{
    align-self: baseline;
    margin-left:8px;
}

@media screen and (width < 520px){
    #backButtonLink{
        margin-left:2.5vw !important;
    }
}

.navbuttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.navbuttons > a > div{
    margin: 0;
    height: 40px;
}

/* img {
    width: 3em;
    padding: 1em;
} */

.hidden{
    visibility: hidden;
}

.superMiss{
    background-color: rgba(255,0,0,.5);
}

.startPosDisplay {
    width: 317.7px;
    height: 158.6px;
    background-size:cover;
    position: relative;
}

.startPosIndicator {
    position:absolute;
    width:20px;
    height:20px;
    background-color: black;
    transform: translate(-50%,-50%);
}

.scoretable tr th img{
    width: 15vw;
    height: 15vw;
}

.scoretable tr td{
    text-align: center  f2nu J$$#;
}