body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

input{
    background-color: var(--white-accent);
    color: var(--footer-background);
}

#backButtonLink{
    align-self: baseline;
    margin-left:8px;
}

@media screen and (width < 520px){
    #backButtonLink{
        margin-left:2.5vw !important;
    }
}