.takisBaro{
    width:100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.takisBaro button{
    width: 45%;
    border-radius: 0px;
}

.counter{
    border-color: red;
}

.counter button{
    display: inline;
    justify-content: center;
}

.counter p{
    display: inline;
    justify-content: center;
}

.submitButton{
    margin:10px;
    margin-left: 0px;
}

.submitDiv{
    display: flex;
    justify-content: center;
}

.mainInput{
    display: flex;
    justify-content: center;
}

p{
    text-align: center;
}