body {
    margin:0;
    padding:0;
}

.topbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    background-color: black;
    height: 100px;
    z-index: 100;
}
.topbar > div {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.topbar * {
    padding: 0;
    margin: 0;
    text-align: center;
}

.main {
    margin-top: 100px;
}

.minus, .plus {
    width: 50px;
    height: 50px;
    border-radius: 30%;
    font-size: 30px;
    transition: background 0.25s, transform 0.15s;
}

.minus {
    /* From https://css.glass */
    background: var(--red-transparent);
    border-radius: 16px;
    box-shadow: 0 4px 30px var(--shadow);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid var(--red-opaque);
}

.plus {
    /* From https://css.glass */
    background: var(--green-transparent);
    border-radius: 16px;
    box-shadow: 0 4px 30px var(--shadow);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid var(--green-opaque);
}

.minus:active,.minus:hover{
    background: var(--red-opaque);
    cursor: pointer;
}

.plus:active,.plus:hover{
    background: var(--green-opaque);
    cursor: pointer;
}

.canned-button {
    margin: 0.5em;
    padding: 0.75em;
}

.canned-button.active {
    outline: 0.25em solid white;
    
}

.cannedComments{
    flex-wrap: wrap;
    justify-content: center;
}

div.active {
    background-color: rgba(255,255,255,0.1);
}

#startPosCanvas {
    
}