:root{
    --darker-cell: #040a1a;
}

table {
    table-layout: fixed;
    width: 200px;
    /* border-collapse: collapse; */
    height: 1px;
}

th, td {
    border: 1px solid white;
    width: 100px;
    overflow: hidden;
    height: 100%;
    background-color: var(--darker-cell);
}

#header-row{
    position:sticky;
    top:0;
    z-index:11;
}

th button {
    width: 100%;
    height: 100%;
    border-radius: 0;
    font-weight: bold;
    background: #00000000;
}

th button:hover {
    cursor: pointer;
}

th button:hover:not(.title-selected) {
    cursor: pointer;
    background: #00000080;
}

.title-selected{
    background-color: var(--blue-alliance);
}

/* .team-thing{
    position: sticky;
    left:0;
} */

.team-thing{
    background-color: #040a1a;
    position: sticky;
    left: 0;
    z-index: 10;
}

.hidden {
    display: none !important;
}

.hidden2 {
    display: none !important;
}

#column-select, #team-select, #comp-select {
    display:flex;
    flex-direction: column;
}

td{
    text-align: right;
    padding-right:4px;
}


.startPosDisplay {
    width: calc(317.7px / 3);
    height: calc(158.6px / 3);
    background-size:cover;
    position: relative;
}

.startPosIndicator {
    position:absolute;
    width:5px;
    height:5px;
    background-color: black;
    transform: translate(-50%,-50%);
}