:root{
    --darker-cell: #040a1a;
}

table {
    table-layout: fixed;
    width: 200px;
    /* border-collapse: collapse; */
    height: 1px;
}

th, td {
    border: 1px solid white;
    width: 135px;
    overflow: hidden;
    height: 100%;
    background-color: var(--darker-cell);
}

td {
    text-align: right;
    padding-right:4px;
}

.table-comment, .table-cannedComments {
    width: 500px;
}

.team-column{
    background-color: #040a1a;
    position: sticky;
    left: 0;
    z-index: 10;
}