.hide {
    display:none;
}

.team-div{
    border-bottom: 2px dashed var(--text-color);
}

.search-bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
}

.search-input{
    /* width:100%; */
    flex-grow: 1;
    display:flex;
    flex-direction: row;
    column-gap: 10px;
}

.search-input input{
    flex-grow: 1;
}