{% extends "base.html" %}

{% block title %}Team Table{% endblock %}

{% block head %}
<link rel="preload" href="{{ url_for('static', filename='stylesheets/table.css') }}" as="style">
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/table.css') }}">
<script src="{{ url_for('static',filename='javascript/table.js')}}" defer></script>
{% endblock %}

{% block content %}

<div id="column-select">
    {% for key in displayNames %}
    <div><input type="checkbox" data-value="{{key.lower()}}" id="checkbox-{{key.lower()}}" name="checkbox-{{key.lower()}}" checked><label for="checkbox-{{key.lower()}}">{{displayNames[key]}}</label></div>
    {% endfor %}
    <button onclick="setColumns()">Apply</button>
</div>

<select id="sort-category">
    <option value="team" selected>Team</option>
    {% for key in displayNames %}
    <option value="{{key.lower()}}">{{displayNames[key]}}</option>
    {% endfor %}
</select>

<select id="sort-input">
    <option value="ascending">Ascending</option>
    <option value="descending">Descending</option>
</select>
<button onclick="updateSort()">sort</button>

<table id="main-table">
    <tr>
        <th class="team-thing column-team"><button onclick="setSort('team')" class="header-button-team">Team Number</button></th>
        {% for key in displayNames %}
        <th class="column-{{key.lower()}}"><button onclick="setSort('{{key.lower()}}')" class="header-button-{{key.lower()}}">{{displayNames[key]}}</button></th>
        {% endfor %}
    </tr>
    {% for team in data %}
    {% if team["results"] %}
    <tr class="team-row" data-team="{{team['team']}}" {% for key in displayNames %}data-{{key}}="{{team['results'][loop.index-1][key]}}"{% endfor %}>
        <td class="team-thing column-team"><p>{{team["team"]}}</p></td>
        {% for key in displayNames %}
        <td  class="column-{{key.lower()}}">
            {% if links %}
            <a href="{{team['results'][loop.index-1]['matchId']}}">{{team["results"][loop.index-1][key]}}</a>
            {% else %}
            <p>{{team["results"][loop.index-1][key]}}</p>
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endif %}
    {% endfor %}
</table>

<a href="#" onclick="download_table_as_csv()">Download as CSV</a>
{% endblock %}