{% extends "base.html" %}

{% block title %}Match Table{% endblock %}

{% block head %}
<link rel="preload" href="{{ url_for('static', filename='stylesheets/table.css') }}" as="style">
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/table.css') }}">
<script src="{{ url_for('static',filename='javascript/table.js')}}" defer></script>
{% endblock %}

{% block content %}
{% set previousPage = url_for('strategyPage') %}
{% include 'backButton.html' %}

<h1>Match Data Table</h1>

<a href="javascript:download_table_as_csv()">download as csv</a>
<br>
<select id="sort-category">
    <!-- <option value="team" selected>Team</option> -->
    {% for key in displayNames %}
    <option value="{{key.lower()}}">{{displayNames[key]}}</option>
    {% endfor %}
</select>
<select id="sort-input">
    <option value="ascending">Ascending</option>
    <option value="descending" selected>Descending</option>
</select>
<button onclick="updateSort()">Sort</button>
<table id="table">
    <tr class="header-row">
        {% for key in displayNames.keys() %}
        <th class="table-{{key}} {% if loop.index == 1 %}team-column{% endif %}" data-type="string">{{displayNames[key]}}</th>
        {% endfor %}
    </tr>
    {% for match in results%}
    <tr class="row" {% for key in displayNames %}data-{{key|lower}}="{{match[key]}}"{% endfor %}>
        {% for key in displayNames.keys() %}
        <td data-value="{{match[key]}}" class="table-{{key}} {% if loop.index == 1 %}team-column{% endif %}"
        {% if key == "displayName" %}
        data-type="string"><a href="{{ url_for('renderMatch',matchNum=match['matchNumber'],compLevel=match['compLevel'],setNum=match['setNumber']) }}">{{match[key]}}</a>
        {% elif match[key] is float %}
        data-type="number">{{"%.2f"|format(match[key]|float)}}
        {% elif match[key] is integer %}
        data-type="number">{{match[key]}}
        {% elif match[key] is iterable and match[key] is not string %}
        data-type="string">{{"".join(match[key])}}
        {% else %}
        data-type="{{ "boolean" if match[key] is boolean else "string"}}">{{match[key]}}
        {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}