{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static', filename='javascript/match.js') }}" defer></script>
<link rel="preload" href="{{ url_for('static', filename='stylesheets/match.css') }}" as="style">
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/match.css') }}">
{% endblock %}

{% block title %}Match Viewer{% endblock %}

{% block content %}
{% set previousPage = url_for("renderMatch") %}
<div class="navbuttons">
    {% include 'backButton.html' %}
    {% if nextMatch %}
    <a href="{{ url_for('renderMatch',matchNum=results['matchNumber']+1,compLevel=results['compLevel'],setNum=results['setNumber']) }}" id="nextButtonLink">
        <div id="nextButton" class="card">
            <span id="nextButtonContents"><span style="white-space:pre;">Next </span><span class="icon" style="font-size: 20px;">arrow_forward_ios</span></span>
        </div>
    </a>
    {% endif %}
</div>

<div class="select-div">
    {% for teamSection in teams %}
    {% set color = 'red' if loop.index == 1 else 'blue' %}
    <div class="{{color}}-div">
    {% for team in teamSection %}
    <button onclick="set_team('{{color}}{{loop.index}}')" class="{{color}}Button {% if team['hasData']%}scored{% endif %}">{{team['teamNumber']}}</button>
    {% endfor %}
    </div>
    {% endfor%}
</div>

{% for teamSection in teams %}
<div class="center-horizontal">
{% set color = 'red' if loop.index == 1 else 'blue' %}
<div class="{{color}}-table">
{% for team in teamSection %}
<div class="team-{{ loop.index }} team team-{{color}}{{loop.index}}">
    <div class="headLine">

    </div>
    <div class="teamNumberWrapper">
        <a href="{{ url_for('teamPage',team=team['teamNumber']) }}" class="teamNumber">Team Number {{ team['teamNumber'] }}</a>
    </div>
    {% if team["hasData"] %}
    <select id="results-select-{{ color }}-{{ loop.index }}" onclick="set_visible(get_results_div('{{color}}','{{loop.index}}'),'results-select-{{ color }}-{{ loop.index }}')">
        {% for result in team['results'] %}
        <option value="{{ loop.index }}" {% if loop.last %} selected {% endif %}>Revision {{loop.index}} ({{result['scout']}})</option>
        {% endfor %}
    </select>
    <div class="results-div">
    {% for result in team['results'] %}
    <div class="match-data revision-{{ loop.index }} {% if not loop.last %} hidden {% endif %}">

        <div class="scoredBy">
            <p>Scored by: {{result['scout']}}</p>
        </div>

        <div>
            
            <div class="sectionDiv">
                <p>startpos</p>
                {{ result["startPos"] }}
            </div>

            <div class="sectionDiv">
                <h1>Auto</h1>


                <div class="table">
                    <div class="row">
                        <div class="cell cell2"><b>Preload:</b></div>
                        <div class="cell cell2"><b>Total Scored:</b></div>
                        <div class="cell cell2 miss"><b>Total Missed:</b></div>
                    </div>
                    <div class="row">
                        <div class="cell cell2">
                            <p>{{ result["preloadFuel"] }}</p>    
                        </div>
                        <div class="cell cell2">
                            <p>{{ result["autoFuelTotal"] }}</p>
                        </div>
                        <div class="cell cell2 miss">
                            <p>{{ result["autoFuelTotalMissed"] }}</p>
                        </div>
                    </div>
                </div>

                <table class="scoretable">
                    <tr>
                        <th><img src="static\images\rebuiltMatchDisplay\Time.svg"></th>
                        <th><img src="static\images\rebuiltMatchDisplay\Scored.svg"></th>
                        <th><img src="static\images\rebuiltMatchDisplay\Missed.svg"></th>
                        <th><img src="static\images\rebuiltMatchDisplay\ShotPS.svg"></th>
                        <th><img src="static\images\rebuiltMatchDisplay\ScoredPS.svg"></th>
                    </tr>
                    {% for period in result["autoFuel"] %}
                    <tr>
                        <td>{{period["time"]|round(2)}}</td>
                        <td>{{period["scored"]}}</td>
                        <td>{{period["missed"]}}</td>
                        <td>{{period["fuelShotPerSecond"]|round(2)}}</td>
                        <td>{{period["fuelScoredPerSecond"]|round(2)}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="sectionDiv">
                <div class="booleanList">
                    <div class="booleanItem">
                        <h2>Climb:</h2>
                        {% if result["autoClimbAttempted"] %}
                        {% if result["autoClimbSuccess"] %}
                        <img src="static\images\rebuiltMatchDisplay\True.svg">
                        {% else %}
                        <img src="static\images\rebuiltMatchDisplay\Mayhaps.svg">
                        {% endif %}
                        {% else %}
                        <img src="static\images\rebuiltMatchDisplay\False.svg">
                        {% endif %}
                    </div>
                    <div class="booleanItem">
                        <h2>Depot:</h2>
                        {% if result["autoDepot"] %}
                        <img src="static\images\RebuiltMatchDisplay\True.svg">
                        {% else %}
                        <img src="static\images\RebuiltMatchDisplay\False.svg">
                        {% endif %}
                    </div>
                    <div class="booleanItem">
                        <h2>Bump:</h2>
                        {% if result["autoBump"] %}
                        <img src="static\images\RebuiltMatchDisplay\True.svg">
                        {% else %}
                        <img src="static\images\RebuiltMatchDisplay\False.svg">
                        {% endif %}
                    </div>
                    <div class="booleanItem">
                        <h2>Trench:</h2>
                        {% if result["autoTrench"] %}
                        <img src="static\images\RebuiltMatchDisplay\True.svg">
                        {% else %}
                        <img src="static\images\RebuiltMatchDisplay\False.svg">
                        {% endif %}
                    </div>
                    <div class="booleanItem">
                        <h2>Neutral Zone Intake:</h2>
                        {% if result["autoNeutralIntake"] %}
                        <img src="static\images\RebuiltMatchDisplay\True.svg">
                        {% else %}
                        <img src="static\images\RebuiltMatchDisplay\False.svg">
                        {% endif %}
                    </div>
                    <div class="booleanItem">
                        <h2>Attempted Second Score:</h2>
                        {% if result["autoAttemptedSecondScore"] %}
                        <img src="static\images\RebuiltMatchDisplay\True.svg">
                        {% else %}
                        <img src="static\images\RebuiltMatchDisplay\False.svg">
                        {% endif %}
                    </div>
                    <div class="booleanItem">
                        <h2>Succeeded Second Score:</h2>
                        {% if result["autoSuccededSecondScore"] %}
                        <img src="static\images\RebuiltMatchDisplay\True.svg">
                        {% else %}
                        <img src="static\images\RebuiltMatchDisplay\False.svg">
                        {% endif %}
                    </div>
                    <div class="booleanItem">
                        <h2>From Outpost:</h2>
                        {% if result["autoOutpostFeed"] %}
                        <img src="static\images\RebuiltMatchDisplay\True.svg">
                        {% else %}
                        <img src="static\images\RebuiltMatchDisplay\False.svg">
                        {% endif %}
                    </div>
                    <div class="booleanItem">
                        <h2>Into Outpost:</h2>
                        {% if result["autoFedToOutpost"] %}
                        <img src="static\images\RebuiltMatchDisplay\True.svg">
                        {% else %}
                        <img src="static\images\RebuiltMatchDisplay\False.svg">
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="sectionDiv">
                <h1>Transition</h1>

                <div clas="table">
                    <div class="row">
                        <div class="cell cell2"><b>Total Scored:</b></div>
                        <div class="cell cell2 miss"><b>Total Missed:</b></div>
                    </div>
                    <div class="row">
                        <div class="cell cell2">
                            <p>{{ result["transitionFuelTotal"] }}</p>    
                        </div>
                        <div class="cell cell2 miss">
                            <p>{{ result["transitionFuelTotalMissed"] }}</p>
                        </div>
                    </div>
                </div>

                <table class="scoretable">
                    <tr>
                        <th><img src="static\images\rebuiltMatchDisplay\Time.svg"></th>
                        <th><img src="static\images\rebuiltMatchDisplay\Scored.svg"></th>
                        <th><img src="static\images\rebuiltMatchDisplay\Missed.svg"></th>
                        <th><img src="static\images\rebuiltMatchDisplay\ShotPS.svg"></th>
                        <th><img src="static\images\rebuiltMatchDisplay\ScoredPS.svg"></th>
                    </tr>
                    {% for period in result["transitionFuel"] %}
                    <tr>
                        <td>{{period["time"]|round(2)}}</td>
                        <td>{{period["scored"]}}</td>
                        <td>{{period["missed"]}}</td>
                        <td>{{period["fuelShotPerSecond"]|round(2)}}</td>
                        <td>{{period["fuelScoredPerSecond"]|round(2)}}</td>
                    </tr>
                    {% endfor %}
                </table>

                <div class="row">
                    <div class="booleanItem">
                        <h2>Fed:</h2>
                        {% if result["transitionFed"] %}
                        <img src="static\images\RebuiltMatchDisplay\True.svg">
                        {% else %}
                        <img src="static\images\RebuiltMatchDisplay\False.svg">
                        {% endif %} 
                    </div>
                    <div class="booleanItem">
                        <h2>Defended:</h2>
                        {% if result["transitionDefense"] %}
                        <img src="static\images\RebuiltMatchDisplay\True.svg">
                        {% else %}
                        <img src="static\images\RebuiltMatchDisplay\False.svg">
                        {% endif %} 
                    </div>                 
                    </div>
            </div>

            <div class="sectionDiv">
                <h2>Won Auto:</h2>
                {% if not result["firstShift"] %}
                <img src="static\images\RebuiltMatchDisplay\True.svg">
                {% else %}
                <img src="static\images\RebuiltMatchDisplay\False.svg">
                {% endif %}
            </div>

            <div class="sectionDiv">
                <h1> Shifts</h1>

                <div class="row shiftRow">
                    <button onclick="switchShift(0)">Shift 1</button>
                    <button onclick="switchShift(1)">Shift 2</button>
                    <button onclick="switchShift(2)">Shift 3</button>
                    <button onclick="switchShift(3)">Shift 4</button>
                </div>

                <div class="row shiftParent" id="shiftParent">
                    <div class="firstShift">
                        <p>first shift</p>
                        {% if result["firstShift"] %}
                        <div class="booleanList">
                            <div class="booleanItem">
                                <h2>Fed:</h2>
                                {% if result["firstActiveShiftFed"] %}
                                <img src="static\images\RebuiltMatchDisplay\True.svg">
                                {% else %}
                                <img src="static\images\RebuiltMatchDisplay\False.svg">
                                {% endif %}
                            </div>
                            <div class="booleanItem">
                                <h2>Defended:</h2>
                                {% if result["firstActiveShiftDefense"] %}
                                <img src="static\images\RebuiltMatchDisplay\True.svg">
                                {% else %}
                                <img src="static\images\RebuiltMatchDisplay\False.svg">
                                {% endif %}
                            </div>
                        </div>
                        <div class="table">
                            <div class="row">
                                <div class="cell cell2">
                                    <b>Total Scored</b>
                                </div>
                                <div class="cell cell2 miss">
                                    <b>Total Missed</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell cell2">
                                    {{result["firstActiveShiftFuelTotal"]}}
                                </div>
                                <div class="cell cell2">
                                    {{result["firstActiveShiftFuelTotalMissed"]}}
                                </div>
                            </div>
                        </div>
                        <table class="scoretable">
                            <tr>
                                <th><img src="static\images\rebuiltMatchDisplay\Time.svg"></th>
                                <th><img src="static\images\rebuiltMatchDisplay\Scored.svg"></th>
                                <th><img src="static\images\rebuiltMatchDisplay\Missed.svg"></th>
                                <th><img src="static\images\rebuiltMatchDisplay\ShotPS.svg"></th>
                                <th><img src="static\images\rebuiltMatchDisplay\ScoredPS.svg"></th>
                            </tr>
                            {% for period in result["firstActiveShiftFuel"] %}
                            <tr>
                                <td>{{period["time"]|round(2)}}</td>
                                <td>{{period["scored"]}}</td>
                                <td>{{period["missed"]}}</td>
                                <td>{{period["fuelShotPerSecond"]|round(2)}}</td>
                                <td>{{period["fuelScoredPerSecond"]|round(2)}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        <div class="row">
                            
                            
                        </div>
                        {% else %}
                            <div class="booleanList">
                                <div class="booleanItem">
                                    <h2>Fed:</h2>
                                    {% if not result["firstInactiveShiftFed"] %}
                                    <img src="static\images\RebuiltMatchDisplay\True.svg">
                                    {% else %}
                                    <img src="static\images\RebuiltMatchDisplay\False.svg">
                                    {% endif %}
                                </div>

                                <div class="booleanItem">
                                <h2>Defended:</h2>
                                    {% if not result["firstInactiveShiftDefense"] %}
                                    <img src="static\images\RebuiltMatchDisplay\True.svg">
                                    {% else %}
                                    <img src="static\images\RebuiltMatchDisplay\False.svg">
                                    {% endif %}
                                </div>
                                <div class="booleanItem">
                                    <h2>Scored:</h2>
                                    {% if not result["firstInactiveShiftScored"] %}
                                    <img src="static\images\RebuiltMatchDisplay\True.svg">
                                    {% else %}
                                    <img src="static\images\RebuiltMatchDisplay\False.svg">
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="secondShift">
                        <p>second shift</p>
                        {% if not result["firstShift"] %}
                        <div class="booleanList">
                            <div class="booleanItem">
                                <h2>Fed:</h2>
                                {% if result["firstActiveShiftFed"] %}
                                <img src="static\images\RebuiltMatchDisplay\True.svg">
                                {% else %}
                                <img src="static\images\RebuiltMatchDisplay\False.svg">
                                {% endif %}
                            </div>
                            <div class="booleanItem">
                                <h2>Defended:</h2>
                                {% if result["firstActiveShiftDefense"] %}
                                <img src="static\images\RebuiltMatchDisplay\True.svg">
                                {% else %}
                                <img src="static\images\RebuiltMatchDisplay\False.svg">
                                {% endif %}
                            </div>
                        </div>
                        <div class="table">
                            <div class="row">
                                <div class="cell cell2">
                                    <b>Total Scored</b>
                                </div>
                                <div class="cell cell2 miss">
                                    <b>Total Missed</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell cell2">
                                    {{result["firstActiveShiftFuelTotal"]}}
                                </div>
                                <div class="cell cell2">
                                    {{result["firstActiveShiftFuelTotalMissed"]}}
                                </div>
                            </div>
                        </div>
                        <table class="scoretable">
                            <tr>
                                <th><img src="static\images\rebuiltMatchDisplay\Time.svg"></th>
                                <th><img src="static\images\rebuiltMatchDisplay\Scored.svg"></th>
                                <th><img src="static\images\rebuiltMatchDisplay\Missed.svg"></th>
                                <th><img src="static\images\rebuiltMatchDisplay\ShotPS.svg"></th>
                                <th><img src="static\images\rebuiltMatchDisplay\ScoredPS.svg"></th>
                            </tr>
                            {% for period in result["firstActiveShiftFuel"] %}
                            <tr>
                                <td>{{period["time"]|round(2)}}</td>
                                <td>{{period["scored"]}}</td>
                                <td>{{period["missed"]}}</td>
                                <td>{{period["fuelShotPerSecond"]|round(2)}}</td>
                                <td>{{period["fuelScoredPerSecond"]|round(2)}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        
                        
                        {% else %}
                            <div class="booleanList">
                                <div class="booleanItem">
                                    <h2>Fed:</h2>
                                    {% if not result["firstInactiveShiftFed"] %}
                                    <img src="static\images\RebuiltMatchDisplay\True.svg">
                                    {% else %}
                                    <img src="static\images\RebuiltMatchDisplay\False.svg">
                                    {% endif %}
                                </div>

                                <div class="booleanItem">
                                <h2>Defended:</h2>
                                    {% if not result["firstInactiveShiftDefense"] %}
                                    <img src="static\images\RebuiltMatchDisplay\True.svg">
                                    {% else %}
                                    <img src="static\images\RebuiltMatchDisplay\False.svg">
                                    {% endif %}
                                </div>
                                <div class="booleanItem">
                                    <h2>Scored:</h2>
                                    {% if not result["firstInactiveShiftScored"] %}
                                    <img src="static\images\RebuiltMatchDisplay\True.svg">
                                    {% else %}
                                    <img src="static\images\RebuiltMatchDisplay\False.svg">
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="thirdShift">
                        <p>third shift</p>
                        {% if result["firstShift"] %}
                        <div class="booleanList">
                            <div class="booleanItem">
                                <h2>Fed:</h2>
                                {% if result["secondActiveShiftFed"] %}
                                <img src="static\images\RebuiltMatchDisplay\True.svg">
                                {% else %}
                                <img src="static\images\RebuiltMatchDisplay\False.svg">
                                {% endif %}
                            </div>
                            <div class="booleanItem">
                                <h2>Defended:</h2>
                                {% if result["secondActiveShiftDefense"] %}
                                <img src="static\images\RebuiltMatchDisplay\True.svg">
                                {% else %}
                                <img src="static\images\RebuiltMatchDisplay\False.svg">
                                {% endif %}
                            </div>
                        </div>
                        <div class="table">
                            <div class="row">
                                <div class="cell cell2">
                                    <b>Total Scored</b>
                                </div>
                                <div class="cell cell2 miss">
                                    <b>Total Missed</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell cell2">
                                    {{result["secondActiveShiftFuelTotal"]}}
                                </div>
                                <div class="cell cell2">
                                    {{result["secondActiveShiftFuelTotalMissed"]}}
                                </div>
                            </div>
                        </div>
                        <table class="scoretable">
                            <tr>
                                <th><img src="static\images\rebuiltMatchDisplay\Time.svg"></th>
                                <th><img src="static\images\rebuiltMatchDisplay\Scored.svg"></th>
                                <th><img src="static\images\rebuiltMatchDisplay\Missed.svg"></th>
                                <th><img src="static\images\rebuiltMatchDisplay\ShotPS.svg"></th>
                                <th><img src="static\images\rebuiltMatchDisplay\ScoredPS.svg"></th>
                            </tr>
                            {% for period in result["secondActiveShiftFuel"] %}
                            <tr>
                                <td>{{period["time"]|round(2)}}</td>
                                <td>{{period["scored"]}}</td>
                                <td>{{period["missed"]}}</td>
                                <td>{{period["fuelShotPerSecond"]|round(2)}}</td>
                                <td>{{period["fuelScoredPerSecond"]|round(2)}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        <div class="row">
                            
                            
                        </div>
                        {% else %}
                            <div class="booleanList">
                                <div class="booleanItem">
                                    <h2>Fed:</h2>
                                    {% if not result["secondInactiveShiftFed"] %}
                                    <img src="static\images\RebuiltMatchDisplay\True.svg">
                                    {% else %}
                                    <img src="static\images\RebuiltMatchDisplay\False.svg">
                                    {% endif %}
                                </div>

                                <div class="booleanItem">
                                <h2>Defended:</h2>
                                    {% if not result["secondInactiveShiftDefense"] %}
                                    <img src="static\images\RebuiltMatchDisplay\True.svg">
                                    {% else %}
                                    <img src="static\images\RebuiltMatchDisplay\False.svg">
                                    {% endif %}
                                </div>
                                <div class="booleanItem">
                                    <h2>Scored:</h2>
                                    {% if not result["secondInactiveShiftScored"] %}
                                    <img src="static\images\RebuiltMatchDisplay\True.svg">
                                    {% else %}
                                    <img src="static\images\RebuiltMatchDisplay\False.svg">
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="fourthShift">
                        <p>fourth shift</p>
                        {% if not result["firstShift"] %}
                        <div class="booleanList">
                            <div class="booleanItem">
                                <h2>Fed:</h2>
                                {% if result["secondActiveShiftFed"] %}
                                <img src="static\images\RebuiltMatchDisplay\True.svg">
                                {% else %}
                                <img src="static\images\RebuiltMatchDisplay\False.svg">
                                {% endif %}
                            </div>
                            <div class="booleanItem">
                                <h2>Defended:</h2>
                                {% if result["secondActiveShiftDefense"] %}
                                <img src="static\images\RebuiltMatchDisplay\True.svg">
                                {% else %}
                                <img src="static\images\RebuiltMatchDisplay\False.svg">
                                {% endif %}
                            </div>
                        </div>
                        <div class="table">
                            <div class="row">
                                <div class="cell cell2">
                                    <b>Total Scored</b>
                                </div>
                                <div class="cell cell2 miss">
                                    <b>Total Missed</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="cell cell2">
                                    {{result["secondActiveShiftFuelTotal"]}}
                                </div>
                                <div class="cell cell2">
                                    {{result["secondActiveShiftFuelTotalMissed"]}}
                                </div>
                            </div>
                        </div>
                        <table class="scoretable">
                            <tr>
                                <th><img src="static\images\rebuiltMatchDisplay\Time.svg"></th>
                                <th><img src="static\images\rebuiltMatchDisplay\Scored.svg"></th>
                                <th><img src="static\images\rebuiltMatchDisplay\Missed.svg"></th>
                                <th><img src="static\images\rebuiltMatchDisplay\ShotPS.svg"></th>
                                <th><img src="static\images\rebuiltMatchDisplay\ScoredPS.svg"></th>
                            </tr>
                            {% for period in result["secondActiveShiftFuel"] %}
                            <tr>
                                <td>{{period["time"]|round(2)}}</td>
                                <td>{{period["scored"]}}</td>
                                <td>{{period["missed"]}}</td>
                                <td>{{period["fuelShotPerSecond"]|round(2)}}</td>
                                <td>{{period["fuelScoredPerSecond"]|round(2)}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        
                        
                        {% else %}
                            <div class="booleanList">
                                <div class="booleanItem">
                                    <h2>Fed:</h2>
                                    {% if not result["secondInactiveShiftFed"] %}
                                    <img src="static\images\RebuiltMatchDisplay\True.svg">
                                    {% else %}
                                    <img src="static\images\RebuiltMatchDisplay\False.svg">
                                    {% endif %}
                                </div>

                                <div class="booleanItem">
                                <h2>Defended:</h2>
                                    {% if not result["secondInactiveShiftDefense"] %}
                                    <img src="static\images\RebuiltMatchDisplay\True.svg">
                                    {% else %}
                                    <img src="static\images\RebuiltMatchDisplay\False.svg">
                                    {% endif %}
                                </div>
                                <div class="booleanItem">
                                    <h2>Scored:</h2>
                                    {% if not result["secondInactiveShiftScored"] %}
                                    <img src="static\images\RebuiltMatchDisplay\True.svg">
                                    {% else %}
                                    <img src="static\images\RebuiltMatchDisplay\False.svg">
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>

                </div>
            </div>

            <div class="sectionDiv">
                <h1>Endgame</h1>

                <div class="booleanList">
                
                    <div class="booleanItem">
                        <h2>Fed:</h2>
                        {% if not result["endgameFed"] %}
                        <img src="static\images\RebuiltMatchDisplay\True.svg">
                        {% else %}
                        <img src="static\images\RebuiltMatchDisplay\False.svg">
                        {% endif %}
                    </div>
                    <div class="booleanItem">
                        <h2>Defended:</h2>
                        {% if not result["endgameDefense"] %}
                        <img src="static\images\RebuiltMatchDisplay\True.svg">
                        {% else %}
                        <img src="static\images\RebuiltMatchDisplay\False.svg">
                        {% endif %}
                    </div>
                </div>

                <div clas="table">
                    <div class="row">
                        <div class="cell cell2"><b>Total Scored:</b></div>
                        <div class="cell cell2 miss"><b>Total Missed:</b></div>
                    </div>
                    <div class="row">
                        <div class="cell cell2">
                            <p>{{ result["endgameFuelTotal"] }}</p>    
                        </div>
                        <div class="cell cell2 miss">
                            <p>{{ result["endgameFuelTotalMissed"] }}</p>
                        </div>
                    </div>
                </div>

                <table class="scoretable">
                    <tr>
                        <th><img src="static\images\rebuiltMatchDisplay\Time.svg"></th>
                        <th><img src="static\images\rebuiltMatchDisplay\Scored.svg"></th>
                        <th><img src="static\images\rebuiltMatchDisplay\Missed.svg"></th>
                        <th><img src="static\images\rebuiltMatchDisplay\ShotPS.svg"></th>
                        <th><img src="static\images\rebuiltMatchDisplay\ScoredPS.svg"></th>
                    </tr>
                    {% for period in result["endgameFuel"] %}
                    <tr>
                        <td>{{period["time"]|round(2)}}</td>
                        <td>{{period["scored"]}}</td>
                        <td>{{period["missed"]}}</td>
                        <td>{{period["fuelShotPerSecond"]|round(2)}}</td>
                        <td>{{period["fuelScoredPerSecond"]|round(2)}}</td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="row">
                    
                    </div>
                    <div class="row">
                    
                </div>
            </div>

            <div class="sectionDiv">
                <div class="booleanList">
                    <div class="booleanItem">
                        <h2>From Outpost:</h2>
                        {% if not result["outpostIntake"] %}
                        <img src="static\images\RebuiltMatchDisplay\True.svg">
                        {% else %}
                        <img src="static\images\RebuiltMatchDisplay\False.svg">
                        {% endif %}
                    </div>
                    <div class="booleanItem">
                        <h2>Into Outpost:</h2>
                        {% if not result["fedToOutpost"] %}
                        <img src="static\images\RebuiltMatchDisplay\True.svg">
                        {% else %}
                        <img src="static\images\RebuiltMatchDisplay\False.svg">
                        {% endif %}
                    </div>
                    <div class="booleanItem">
                        <h2>Ground:</h2>
                        {% if not result["groundIntake"] %}
                        <img src="static\images\RebuiltMatchDisplay\True.svg">
                        {% else %}
                        <img src="static\images\RebuiltMatchDisplay\False.svg">
                        {% endif %}
                    </div>
                </div>

                <div class="table">
                    <div class="row">
                        <div class="cell cell2">
                            <b>Climb</b>
                        </div>
                        <div class="cell cell2">
                            {% if result["endClimb"] == 0 %}
                            None
                            {% else %}
                            L{{ result["endClimb"] }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="sectionDiv">
                <h1> Fouls </h1>

                <div clas="table">
                    <div class="row">
                        <div class="cell cell2"><b>Minor:</b></div>
                        <div class="cell cell2"><b>Major:</b></div>
                    </div>
                    <div class="row">
                        <div class="cell cell2">
                            <p>{{ result["minorFouls"] }}</p>    
                        </div>
                        <div class="cell cell2">
                            <p>{{ result["majorFouls"] }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <h3>Comment:</h3>
            <div class="sectionDiv">
                <div class="comments">
                    {% if result["comment"] %}
                    {% if result["cannedComments"] %}
                    <ul>
                        {% for cannedComment in result["cannedComments"] %}
                        <li>{{cannedComment}}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <p>{{ result["comment"] }}</p>
                    {% elif result["cannedComments"] %}
                    <ul>
                        {% for cannedComment in result["cannedComments"] %}
                        <li>{{cannedComment}}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>No comment.</p>
                    {% endif %}
                </div>
            </div>
            
        </div>
    </div>
    {% endfor %}
    </div>
    {% else %}
    <p>No data</p>
    <a href="{{ url_for('submitScorePage', team=team['teamNumber'], compLevel=results['compLevel'], matchNumber=results['matchNumber'], setNumber=results['setNumber'], robotStation=color+(loop.index|string)) }}">Scout this team</a>
    {% endif %}
    <br>
</div>
{% endfor %}
</div>
</div>
<!-- {% if loop.index == 1 %}<div class="spacer"></div>{% endif %} -->
{% endfor %}

<div id="remove"><p>Press on one of the teams to see their results</p></div>
<div class="score-breakdown" id="score-breakdown">
<p>Score breakdown</p>
<div class="score-div colorless">
    <div class="number">
        <p>Team</p>
    </div>
    <div class="score">
        <p>Score</p>
    </div>
</div>
{% for teamSection in teams %}
{% set color = 'red' if loop.index == 1 else 'blue' %}
<div class="{{color}}-score">
{% for team in teamSection %}
<div class="score-div">
    <div class="number">
        <p>{{team['teamNumber']}}</p>
    </div>
    <div class="score">
        {% if team["hasData"] %}
        <p>{{ team['results'][-1]['score'] }}</p>
        {% else %}
        <p>None</p>
        {% endif %}
    </div>
</div>
{% endfor %}
</div>
{% endfor %}
</div>

<div>
    {% if (not madePrediction) and "predictionData" in results and (results["compLevel"] == "qm") and ("points_difference" in results["predictionData"]) and ("winner" in results["predictionData"])%}
    {% set apiDifference = results["predictionData"]["points_difference"]%}
    {% set apiWinner = results["predictionData"]["winner"] %}
    <div>
        <!-- haven't made a prediction yet -->
        <p>Current Prediction powered by Statbotics: {{apiWinner | capitalize}} wins by {{apiDifference | round(2)}} points.</p>
        {% if apiWinner == "red" %}
        <button onclick="predictIsRed=true; difference={{apiDifference)}}">Red wins by {{apiDifference | round(2)}} or more.</button>
        <button onclick="predictIsRed=false; difference={{apiDifference}}">Red wins by less than {{apiDifference | round(2)}} or loses.</button>
        {% else %}
        <button onclick="predictIsRed=true; difference={{apiDifference}}">Blue wins by less than {{apiDifference | round(2)}} or loses.</button>
        <button onclick="predictIsRed=false; difference={{apiDifference}}">Blue wins by {{apiDifference | round(2)}} or more</button>
        {% endif %}
        <input type="number" min="0" max="{{ userPoints }}" id="predictPointsInput">
        <span>max {{ userPoints }} points</span>
        <button onclick="createSubmission()">Make submission</button>
        <script>
            var predictIsRed = false;
            var difference = 0
            const maxPoints = {{userPoints}};
            function createSubmission(){
                let points = parseInt(document.getElementById("predictPointsInput").value);
                if (points > maxPoints){
                    alert("Not enough points.");
                    return;
                }
                rawData = {
                    "compLevel":"{{compLevel}}",
                    "matchNumber":{{matchNum}},
                    "setNumber":{{setNum}},
                    "forRed":predictIsRed,
                    "difference": difference,
                    "statsForRed": {{"true" if apiWinner == "red" else "false"}},
                    "points": points,
                };
                data = JSON.stringify(rawData);
                fetch('{{url_for("createPredictionPage")}}', {
                    method: "POST",
                    body: data, 
                    headers: {
                        "Content-type": "application/json; charset=UTF-8"
                    }
                }).then(response =>{
                    if (response.ok){
                        alert("Succesfully submitted");
                        window.location.reload();
                    } else if (response.status === 402){
                        alert("Not enough points.");
                        window.location.reload();
                    } else if (response.status === 401){
                        alert("Match already scored.")
                    } else if (response.status === 409){
                        alert("Statbotics data is old, refreshing now.");
                        window.location.reload();
                    }   else {
                        alert("There was an error submitting.");
                    }
                });
            }
        </script>
    </div>
    {% elif madePrediction %}
    <p>already predicted</p>
    {% elif (not results["compLevel"] == "qm") and ("predictionData" in results) and ("points_difference" in results["predictionData"]) and ("winner" in results["predictionData"]) %}
    {% set apiDifference = results["predictionData"]["points_difference"]%}
    {% set apiWinner = results["predictionData"]["winner"] %}
    <p>Current Prediction powered by Statbotics: {{apiWinner | capitalize}} wins by {{apiDifference | round(2)}} points.</p>
    <p>Make your playoffs predictions at <a href="{{ url_for('pointsPlayoffsPage') }}">NerdPredict Pickems</a>.</p>
    {% else %}
    <p>Please wait for data to be added for predictions.</p>
    {% endif %}
</div>

{% if "scoreBreakdown" in results["results"] %}
{% set TBAScoreBreakdown = results["results"]["scoreBreakdown"] %}
<div id="TBAScoreBreakdown">
    {% for alliance, scoreBreakdown in TBAScoreBreakdown.items() %}
    {% set hubScore = scoreBreakdown["hubScore"] %}
    <div id="{{alliance}}ScoreBreakdown" class="allianceScoreBreakdown card">
        <ul class="scoreBreakdownList">
            <li class="scoreBreakdownItem">Score: {{ scoreBreakdown["totalPoints"] }}</li>
            <li class="scoreBreakdownItem">Hub Points: {{hubScore["totalPoints"]}}</li>
            <li class="scoreBreakdownItem">Hub Count: {{hubScore["totalCount"]}}</li>
            <li>
                <div class="middleScoreBreakdown card">
                    <h2>Auto</h2>
                    <ul class="autoScoreBreakdownList">
                    <li>Total Points: {{scoreBreakdown["totalAutoPoints"]}}</li>
                        <li><div class="innerBreakdownCard card">
                            <h3>Tower</h3>
                            <ul class="innerBreakdownList">
                                <li>Total Points: {{scoreBreakdown["autoTowerPoints"]}}</li>
                                <li>Robot 1: {{FMSEndPositionRebuilt[scoreBreakdown["autoTowerRobot1"]]}}</li>
                                <li>Robot 2: {{FMSEndPositionRebuilt[scoreBreakdown["autoTowerRobot2"]]}}</li>
                                <li>Robot 3: {{FMSEndPositionRebuilt[scoreBreakdown["autoTowerRobot3"]]}}</li>
                            </ul>
                        </div></li>
                        <li><div class="innerBreakdownCard card">
                            <h3>Hub</h3>
                            <ul class="innerBreakdownList">
                                <li>Points: {{hubScore["autoPoints"]}}</li>
                                <li>Counted: {{hubScore["autoCount"]}}</li>
                            </ul>
                        </div></li>
                    </ul>
                </div>
                <div class="middleScoreBreakdown card">
                    <h2>Tele-Op</h2>
                    <ul class="teleopScoreBreakdownList">
                        <li>Total Points: {{scoreBreakdown["totalTeleopPoints"]}}</li>
                        <li><div class="innerBreakdownCard card">
                            <h3>Hub</h3>
                            <ul class="innerBreakdownList">
                                <li>Total Points: {{hubScore["teleopPoints"]}}</li>
                                <li>Total Count: {{hubScore["teleopCount"]}}</li>
                                <li>Shift 1 Points: {{hubScore["shift1Points"]}}</li>
                                <li>Shift 1 Count: {{hubScore["shift1Count"]}}</li>
                                <li>Shift 2 Points: {{hubScore["shift2Points"]}}</li>
                                <li>Shift 2 Count: {{hubScore["shift2Count"]}}</li>
                                <li>Shift 3 Points: {{hubScore["shift3Points"]}}</li>
                                <li>Shift 3 Count: {{hubScore["shift3Count"]}}</li>
                                <li>Shift 4 Points: {{hubScore["shift4Points"]}}</li>
                                <li>Shift 4 Count: {{hubScore["shift4Count"]}}</li>
                                <li>Endgame Points: {{hubScore["endgamePoints"]}}</li>
                                <li>Endgame Count: {{hubScore["endgameCount"]}}</li>
                            </ul>
                        </div></li>
                        <li><div class="innerBreakdownCard card">
                            <h3>Tower</h3>
                            <ul class="innerBreakdownList">
                                <li>Total Points: {{scoreBreakdown["endGameTowerPoints"]}}</li>
                                <li>Robot 1: {{FMSEndPositionRebuilt[scoreBreakdown["endGameTowerRobot1"]]}}</li>
                                <li>Robot 2: {{FMSEndPositionRebuilt[scoreBreakdown["endGameTowerRobot2"]]}}</li>
                                <li>Robot 3: {{FMSEndPositionRebuilt[scoreBreakdown["endGameTowerRobot3"]]}}</li>
                            </ul>
                        </div></li>
                    </ul>
                </div>
            </li>
            <li class="scoreBreakdownItem">Minor Fouls: {{scoreBreakdown["minorFoulCount"]}}</li>
            <li class="scoreBreakdownItem">Major Fouls: {{scoreBreakdown["majorFoulCount"]}}</li>
            <li class="scoreBreakdownItem">Foul Points Recieved(?): {{scoreBreakdown["foulPoints"]}}</li>
            <li class="scoreBreakdownItem">G206 Penalty: {{scoreBreakdown["g206Penalty"]}}</li>
            <li class="scoreBreakdownItem">Energized: {{scoreBreakdown["energizedAchieved"]}}</li>
            <li class="scoreBreakdownItem">Supercharged: {{scoreBreakdown["superchargedAchieved"]}}</li>
            <li class="scoreBreakdownItem">Traversal: {{scoreBreakdown["traversalAchieved"]}}</li>
            <li class="scoreBreakdownItem">Ranking Points: {{scoreBreakdown["rp"]}}</li>

        </ul>
    </div>
    {% endfor %}
</div>
<p>{{ TBAScoreBreakdown["red"] }}</p>
<p>{{ TBAScoreBreakdown["blue"] }}</p>
{% endif %}

{% if showAdmin %}
<div>
    <p>you are an admin</p>
    <a href="{{url_for('updateMatchFromTBAPage',matchNum=matchNum,compLevel=compLevel,setNum=setNum)}}">update from tba</a>
</div>
{% endif %}

<script>
    let params = new URLSearchParams(window.location.search);
    window.addEventListener('DOMContentLoaded', function (e) {
        alertParam = params.get("alert");
        if (alertParam){
            this.alert(alertParam);
        }
    })
</script>
{% endblock %}