{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static', filename='javascript/match.js') }}" defer></script>
<link rel="preload" href="{{ url_for('static', filename='stylesheets/match.css') }}" as="style">
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/match.css') }}">
{% endblock %}

{% block title %}Match Viewer{% endblock %}

{% block content %}
{% set previousPage = url_for("renderMatch") %}
<div class="navbuttons">
    {% include 'backButton.html' %}
    {% if nextMatch %}
    <a href="{{ url_for('renderMatch',matchNum=results['matchNumber']+1,compLevel=results['compLevel'],setNum=results['setNumber']) }}" id="nextButtonLink">
        <div id="nextButton" class="card">
            <span id="nextButtonContents"><span style="white-space:pre;">Next </span><span class="icon" style="font-size: 20px;">arrow_forward_ios</span></span>
        </div>
    </a>
    {% endif %}
</div>

<div class="select-div">
    {% for teamSection in teams %}
    {% set color = 'red' if loop.index == 1 else 'blue' %}
    <div class="{{color}}-div">
    {% for team in teamSection %}
    <button onclick="set_team('{{color}}{{loop.index}}')" class="{{color}}Button {% if team['hasData']%}scored{% endif %}">{{team['teamNumber']}}</button>
    {% endfor %}
    </div>
    {% endfor%}
</div>

{% for teamSection in teams %}
<div class="center-horizontal">
{% set color = 'red' if loop.index == 1 else 'blue' %}
<div class="{{color}}-table">
{% for team in teamSection %}
<div class="team-{{ loop.index }} team team-{{color}}{{loop.index}}">
    <div class="headLine">

    </div>
    <div class="teamNumberWrapper">
        <a href="{{ url_for('teamPage',team=team['teamNumber']) }}" class="teamNumber">Team Number {{ team['teamNumber'] }}</a>
    </div>
    {% if team["hasData"] %}
    <select id="results-select-{{ color }}-{{ loop.index }}" onclick="set_visible(get_results_div('{{color}}','{{loop.index}}'),'results-select-{{ color }}-{{ loop.index }}')">
        {% for result in team['results'] %}
        <option value="{{ loop.index }}" {% if loop.last %} selected {% endif %}>Revision {{loop.index}} ({{result['scout']}})</option>
        {% endfor %}
    </select>
    <div class="results-div">
    {% for result in team['results'] %}
    <div class="match-data revision-{{ loop.index }} {% if not loop.last %} hidden {% endif %}">

        <div class="scoredBy">
            <p>Scored by: {{result['scout']}}</p>
        </div>

        <div>
            
            <div class="sectionDiv">
                <div class="startPosDisplay" style="background-image:url({{ url_for('static', filename='images/startpos.png') }})">
                    <div class="startPosIndicator" style="left:{{result['startPosY']*100}}%;top:{{result['startPosX']*100}}%;"></div>
                </div>

                <!-- {{ result["startPosX"] }}
                {{ result["startPosY"] }} -->

            </div>

            <div class="sectionDiv">
                <h1>Auto</h1>


                <div clas="table">
                    <div class="row">
                        <div class="cell cell2"><b>Preload:</b></div>
                        <div class="cell cell2"><b>Scored:</b></div>
                        <div class="cell cell2 miss"><b>Missed:</b></div>
                    </div>
                    <div class="row">
                        <div class="cell cell2">
                            <p>{{ result["preloadFuel"] }}</p>    
                        </div>
                        <div class="cell cell2">
                            <p>{{ result["autoFuel"] }}</p>
                        </div>
                        <div class="cell cell2 miss">
                            <p>{{ result["autoFuelMiss"] }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sectionDiv">
                <div class="row">
                    <h2>Climb L1:</h2>
                    {% if result["autoClimb"] %}
                    <img src="static\images\matchDisplay\True.svg">
                    {% else %}
                    <img src="static\images\matchDisplay\False.svg">
                    {% endif %}
                </div>
            </div>

            <div class="sectionDiv">
                <h1>Transition</h1>

                <div clas="table">
                    <div class="row">
                        <div class="cell cell2"><b>Scored:</b></div>
                        <div class="cell cell2 miss"><b>Missed:</b></div>
                    </div>
                    <div class="row">
                        <div class="cell cell2">
                            <p>{{ result["transitionFuel"] }}</p>    
                        </div>
                        <div class="cell cell2 miss">
                            <p>{{ result["transitionFuelMiss"] }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sectionDiv">
                <div class="row">
                    <h2>Won Auto:</h2>
                    {% if not result["firstShift"] %}
                    <img src="static\images\matchDisplay\True.svg">
                    {% else %}
                    <img src="static\images\matchDisplay\False.svg">
                    {% endif %}
                </div>
            </div>

            <div class="sectionDiv">
                <h1> Shifts</h1>

                <div class="row">

                    <div clas="table">
                        <div class="row">
                            <div class="cell cell4">
                                {% if result["firstShift"] %}
                                <h1>1: Active</h1>
                                {% else %}
                                <h1>1: Inactive</h1>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell cell2"><b>Scored:</b></div>
                            <div class="cell cell2 miss"><b>Missed:</b></div>
                        </div>
                        <div class="row">
                            <div class="cell cell2">
                                <p>{{ result["shift1Fuel"] }}</p>    
                            </div>
                            <div class="cell cell2 miss">
                                <p>{{ result["shift1FuelMiss"] }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="cell hidden"></div>

                    <div class="table">
                        <div class="row">
                            <div class="cell cell4">
                                {% if not result["firstShift"] %}
                                <h1>2: Active</h1>
                                {% else %}
                                <h1>2: Inactive</h1>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell cell2"><b>Scored:</b></div>
                            <div class="cell cell2 miss"><b>Missed:</b></div>
                        </div>
                        <div class="row">
                            <div class="cell cell2">
                                <p>{{ result["shift2Fuel"] }}</p>    
                            </div>
                            <div class="cell cell2 miss">
                                <p>{{ result["shift2FuelMiss"] }}</p>
                            </div>
                        </div>
                    </div>    
                    
                    <div class="cell cell2 hidden"></div>

                    <div clas="table">
                        <div class="row">
                            <div class="cell cell4">
                                {% if result["firstShift"] %}
                                <h1>3: Active</h1>
                                {% else %}
                                <h1>3: Inactive</h1>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell cell2"><b>Scored:</b></div>
                            <div class="cell cell2 miss"><b>Missed:</b></div>
                        </div>
                        <div class="row">
                            <div class="cell cell2">
                                <p>{{ result["shift3Fuel"] }}</p>    
                            </div>
                            <div class="cell cell2 miss">
                                <p>{{ result["shift3FuelMiss"] }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="cell hidden"></div>

                    <div class="table">
                        <div class="row">
                            <div class="cell cell4">
                                {% if not result["firstShift"] %}
                                <h1>4: Active</h1>
                                {% else %}
                                <h1>4: Inactive</h1>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="cell cell2"><b>Scored:</b></div>
                            <div class="cell cell2 miss"><b>Missed:</b></div>
                        </div>
                        <div class="row">
                            <div class="cell cell2">
                                <p>{{ result["shift4Fuel"] }}</p>    
                            </div>
                            <div class="cell cell2 miss">
                                <p>{{ result["shift4FuelMiss"] }}</p>
                            </div>
                        </div>
                    </div>                    

                </div>

            </div>

            <div class="sectionDiv">
                <h1>Endgame</h1>

                <div clas="table">
                    <div class="row">
                        <div class="cell cell2"><b>Scored:</b></div>
                        <div class="cell cell2 miss"><b>Missed:</b></div>
                    </div>
                    <div class="row">
                        <div class="cell cell2">
                            <p>{{ result["endgameFuel"] }}</p>    
                        </div>
                        <div class="cell cell2 miss">
                            <p>{{ result["endgameFuelMiss"] }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sectionDiv">
                <h1> Fouls </h1>

                <div clas="table">
                    <div class="row">
                        <div class="cell cell2"><b>Minor:</b></div>
                        <div class="cell cell2"><b>Major:</b></div>
                    </div>
                    <div class="row">
                        <div class="cell cell2">
                            <p>{{ result["minorFouls"] }}</p>    
                        </div>
                        <div class="cell cell2">
                            <p>{{ result["majorFouls"] }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <h3>Comment:</h3>
            {% if result["comment"] %}
            {% if result["cannedComments"] %}
            <ul>
                {% for cannedComment in result["cannedComments"] %}
                <li>{{cannedComment}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <p>{{ result["comment"] }}</p>
            {% elif result["cannedComments"] %}
            <ul>
                {% for cannedComment in result["cannedComments"] %}
                <li>{{cannedComment}}</li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No comment.</p>
            {% endif %}
            
        </div>
    </div>
    {% endfor %}
    </div>
    {% else %}
    <p>No data</p>
    <a href="{{ url_for('submitScorePage', team=team['teamNumber'], compLevel=results['compLevel'], matchNumber=results['matchNumber'], setNumber=results['setNumber'], robotStation=color+(loop.index|string)) }}">Scout this team</a>
    {% endif %}
    <br>
</div>
{% endfor %}
</div>
</div>
<!-- {% if loop.index == 1 %}<div class="spacer"></div>{% endif %} -->
{% endfor %}

<div id="remove"><p>Press on one of the teams to see their results</p></div>
<div class="score-breakdown" id="score-breakdown">
<p>Score breakdown</p>
<div class="score-div colorless">
    <div class="number">
        <p>Team</p>
    </div>
    <div class="score">
        <p>Score</p>
    </div>
</div>
{% for teamSection in teams %}
{% set color = 'red' if loop.index == 1 else 'blue' %}
<div class="{{color}}-score">
{% for team in teamSection %}
<div class="score-div">
    <div class="number">
        <p>{{team['teamNumber']}}</p>
    </div>
    <div class="score">
        {% if team["hasData"] %}
        <p>{{ team['results'][-1]['score'] }}</p>
        {% else %}
        <p>None</p>
        {% endif %}
    </div>
</div>
{% endfor %}
</div>
{% endfor %}
</div>
{% endblock %}