{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static', filename='javascript/match.js') }}" defer></script>
<link rel="preload" href="{{ url_for('static', filename='stylesheets/match.css') }}" as="style">
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/match.css') }}">
{% endblock %}

{% block title %}Match Viewer{% endblock %}

{% block content %}
{% set previousPage = url_for("renderMatch") %}
<div class="navbuttons">
    {% include 'backButton.html' %}
    {% if nextMatch %}
    <a href="{{ url_for('renderMatch',matchNum=results['matchNumber']+1,compLevel=results['compLevel'],setNum=results['setNumber']) }}" id="nextButtonLink">
        <div id="nextButton" class="card">
            <span id="nextButtonContents"><span style="white-space:pre;">Next </span><span class="icon" style="font-size: 20px;">arrow_forward_ios</span></span>
        </div>
    </a>
    {% endif %}
</div>

<div class="select-div">
    {% for teamSection in teams %}
    {% set color = 'red' if loop.index == 1 else 'blue' %}
    <div class="{{color}}-div">
    {% for team in teamSection %}
    <button onclick="set_team('{{color}}{{loop.index}}')" class="{{color}}Button {% if team['hasData']%}scored{% endif %}">{{team['teamNumber']}}</button>
    {% endfor %}
    </div>
    {% endfor%}
</div>

{% for teamSection in teams %}
<div class="center-horizontal">
{% set color = 'red' if loop.index == 1 else 'blue' %}
<div class="{{color}}-table">
{% for team in teamSection %}
<div class="team-{{ loop.index }} team team-{{color}}{{loop.index}}">
    <div class="headLine">

    </div>
    <div class="teamNumberWrapper">
        <a href="{{ url_for('teamPage',team=team['teamNumber']) }}" class="teamNumber">Team Number {{ team['teamNumber'] }}</a>
    </div>
    {% if team["hasData"] %}
    <select id="results-select-{{ color }}-{{ loop.index }}" onclick="set_visible(get_results_div('{{color}}','{{loop.index}}'),'results-select-{{ color }}-{{ loop.index }}')">
        {% for result in team['results'] %}
        <option value="{{ loop.index }}" {% if loop.last %} selected {% endif %}>Revision {{loop.index}} ({{result['scout']}})</option>
        {% endfor %}
    </select>
    <div class="results-div">
    {% for result in team['results'] %}
    <div class="match-data revision-{{ loop.index }} {% if not loop.last %} hidden {% endif %}">

        <div class="scoredBy">
            <p>Scored by: {{result['scout']}}</p>
        </div>

        <div>
            
            <div class="sectionDiv">
                <p>startpos</p>
                {{ result["startPos"] }}
            </div>

            <div class="sectionDiv">
                <h1>Auto</h1>


                <div class="table">
                    <div class="row">
                        <div class="cell cell2"><b>Preload:</b></div>
                        <div class="cell cell2"><b>Total Scored:</b></div>
                        <div class="cell cell2 miss"><b>Total Missed:</b></div>
                    </div>
                    <div class="row">
                        <div class="cell cell2">
                            <p>{{ result["preloadFuel"] }}</p>    
                        </div>
                        <div class="cell cell2">
                            <p>{{ result["autoFuelTotal"] }}</p>
                        </div>
                        <div class="cell cell2 miss">
                            <p>{{ result["autoFuelTotalMissed"] }}</p>
                        </div>
                    </div>
                </div>

                <table class="scoretable">
                    <tr>
                        <th>Time</th>
                        <th>Scored</th>
                        <th>Missed</th>
                        <th>Fuel shot per second</th>
                        <th>Fuel scored per second</th>
                    </tr>
                    {% for period in result["autoFuel"] %}
                    <tr>
                        <td>{{period["time"]}}</td>
                        <td>{{period["scored"]}}</td>
                        <td>{{period["missed"]}}</td>
                        <td>{{period["fuelShotPerSecond"]}}</td>
                        <td>{{period["fuelScoredPerSecond"]}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="sectionDiv">
                <div class="row">
                    <h2>Climb Atempted:</h2>
                    {% if result["autoClimbAttempted"] %}
                    <img src="static\images\matchDisplay\True.svg">
                    {% else %}
                    <img src="static\images\matchDisplay\False.svg">
                    {% endif %}
                    <h2>Climb Success:</h2>
                    {% if result["autoClimbSuccess"] %}
                    <img src="static\images\matchDisplay\True.svg">
                    {% else %}
                    <img src="static\images\matchDisplay\False.svg">
                    {% endif %}
                </div>
            </div>
            <div class="sectionDiv">
                <div class="row">
                    <h2>Depot:</h2>
                    {% if result["autoDepot"] %}
                    <img src="static\images\matchDisplay\True.svg">
                    {% else %}
                    <img src="static\images\matchDisplay\False.svg">
                    {% endif %}
                    <h2>Bump:</h2>
                    {% if result["autoBump"] %}
                    <img src="static\images\matchDisplay\True.svg">
                    {% else %}
                    <img src="static\images\matchDisplay\False.svg">
                    {% endif %}
                    <h2>Trench:</h2>
                    {% if result["autoTrench"] %}
                    <img src="static\images\matchDisplay\True.svg">
                    {% else %}
                    <img src="static\images\matchDisplay\False.svg">
                    {% endif %}
                    <h2>Neutral Zone Intake:</h2>
                    {% if result["autoNeutralIntake"] %}
                    <img src="static\images\matchDisplay\True.svg">
                    {% else %}
                    <img src="static\images\matchDisplay\False.svg">
                    {% endif %}
                    <h2>Attempted Second Score:</h2>
                    {% if result["autoAttemptedSecondScore"] %}
                    <img src="static\images\matchDisplay\True.svg">
                    {% else %}
                    <img src="static\images\matchDisplay\False.svg">
                    {% endif %}
                    <h2>Succeeded Second Score:</h2>
                    {% if result["autoSuccededSecondScore"] %}
                    <img src="static\images\matchDisplay\True.svg">
                    {% else %}
                    <img src="static\images\matchDisplay\False.svg">
                    {% endif %}
                    <h2>From Outpost:</h2>
                    {% if result["autoOutpostFeed"] %}
                    <img src="static\images\matchDisplay\True.svg">
                    {% else %}
                    <img src="static\images\matchDisplay\False.svg">
                    {% endif %}
                    <h2>Into Outpost:</h2>
                    {% if result["autoFedToOutpost"] %}
                    <img src="static\images\matchDisplay\True.svg">
                    {% else %}
                    <img src="static\images\matchDisplay\False.svg">
                    {% endif %}
                </div>
            </div>

            <div class="sectionDiv">
                <h1>Transition</h1>

                <div clas="table">
                    <div class="row">
                        <div class="cell cell2"><b>Total Scored:</b></div>
                        <div class="cell cell2 miss"><b>Total Missed:</b></div>
                    </div>
                    <div class="row">
                        <div class="cell cell2">
                            <p>{{ result["transitionFuelTotal"] }}</p>    
                        </div>
                        <div class="cell cell2 miss">
                            <p>{{ result["transitionFuelTotalMissed"] }}</p>
                        </div>
                    </div>
                    <div class="row">
                         <h2>Fed:</h2>
                        {% if result["transitionFed"] %}
                        <img src="static\images\matchDisplay\True.svg">
                        {% else %}
                        <img src="static\images\matchDisplay\False.svg">
                        {% endif %} 
                        <h2>Defended:</h2>
                        {% if result["transitionDefense"] %}
                        <img src="static\images\matchDisplay\True.svg">
                        {% else %}
                        <img src="static\images\matchDisplay\False.svg">
                        {% endif %}                  
                    </div>
                </div>

                <table class="scoretable">
                    <tr>
                        <th>Time</th>
                        <th>Scored</th>
                        <th>Missed</th>
                        <th>Fuel shot per second</th>
                        <th>Fuel scored per second</th>
                    </tr>
                    {% for period in result["transitionFuel"] %}
                    <tr>
                        <td>{{period["time"]}}</td>
                        <td>{{period["scored"]}}</td>
                        <td>{{period["missed"]}}</td>
                        <td>{{period["fuelShotPerSecond"]}}</td>
                        <td>{{period["fuelScoredPerSecond"]}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="sectionDiv">
                <div class="row">
                    <h2>Won Auto:</h2>
                    {% if not result["firstShift"] %}
                    <img src="static\images\matchDisplay\True.svg">
                    {% else %}
                    <img src="static\images\matchDisplay\False.svg">
                    {% endif %}
                </div>
            </div>

            <div class="sectionDiv">
                <h1> Shifts</h1>

                <div class="row">
                    <div>
                        <p>first shift</p>
                        {% if result["firstShift"] %}
                        {{result["firstActiveShiftFuelTotal"]}}
                        {{result["firstActiveShiftFuelTotalMissed"]}}
                        <table class="scoretable">
                            <tr>
                                <th>Time</th>
                                <th>Scored</th>
                                <th>Missed</th>
                                <th>Fuel shot per second</th>
                                <th>Fuel scored per second</th>
                            </tr>
                            {% for period in result["firstActiveShiftFuel"] %}
                            <tr>
                                <td>{{period["time"]}}</td>
                                <td>{{period["scored"]}}</td>
                                <td>{{period["missed"]}}</td>
                                <td>{{period["fuelShotPerSecond"]}}</td>
                                <td>{{period["fuelScoredPerSecond"]}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        <div class="row">
                            <h2>Fed:</h2>
                            {% if result["firstActiveShiftFed"] %}
                            <img src="static\images\matchDisplay\True.svg">
                            {% else %}
                            <img src="static\images\matchDisplay\False.svg">
                            {% endif %}
                            <h2>Defended:</h2>
                            {% if result["firstActiveShiftDefense"] %}
                            <img src="static\images\matchDisplay\True.svg">
                            {% else %}
                            <img src="static\images\matchDisplay\False.svg">
                            {% endif %}
                        </div>
                        {% else %}
                            <div class="row">
                            <p>Scored:</p>
                            {% if not result["firstInactiveShiftScored"] %}
                            <img src="static\images\matchDisplay\True.svg">
                            {% else %}
                            <img src="static\images\matchDisplay\False.svg">
                            {% endif %}
                            </div>
                            <div class="row">
                            <p>Fed:</p>
                            {% if not result["firstInactiveShiftFed"] %}
                            <img src="static\images\matchDisplay\True.svg">
                            {% else %}
                            <img src="static\images\matchDisplay\False.svg">
                            {% endif %}
                            </div>
                            <div class="row">
                            <p>Defended:</p>
                            {% if not result["firstInactiveShiftDefense"] %}
                            <img src="static\images\matchDisplay\True.svg">
                            {% else %}
                            <img src="static\images\matchDisplay\False.svg">
                            {% endif %}
                            </div>
                        {% endif %}
                    </div>

                    <div>
                        <p>second shift</p>
                        {% if not result["firstShift"] %}
                        {{result["firstActiveShiftFuelTotal"]}}
                        {{result["firstActiveShiftFuelTotalMissed"]}}
                        <table class="scoretable">
                            <tr>
                                <th>Time</th>
                                <th>Scored</th>
                                <th>Missed</th>
                                <th>Fuel shot per second</th>
                                <th>Fuel scored per second</th>
                            </tr>
                            {% for period in result["firstActiveShiftFuel"] %}
                            <tr>
                                <td>{{period["time"]}}</td>
                                <td>{{period["scored"]}}</td>
                                <td>{{period["missed"]}}</td>
                                <td>{{period["fuelShotPerSecond"]}}</td>
                                <td>{{period["fuelScoredPerSecond"]}}</td>
                            </tr>
                            {% endfor %}
                             </table>
                            <div class="row">
                            <h2>Fed:</h2>
                            {% if result["firstActiveShiftFed"] %}
                            <img src="static\images\matchDisplay\True.svg">
                            {% else %}
                            <img src="static\images\matchDisplay\False.svg">
                            {% endif %}
                            <h2>Defended:</h2>
                            {% if result["firstActiveShiftDefense"] %}
                            <img src="static\images\matchDisplay\True.svg">
                            {% else %}
                            <img src="static\images\matchDisplay\False.svg">
                            {% endif %}
                        </div>
                        {% else %}
                            <div class="row">
                            <p>Scored:</p>
                            {% if not result["firstInactiveShiftScored"] %}
                            <img src="static\images\matchDisplay\True.svg">
                            {% else %}
                            <img src="static\images\matchDisplay\False.svg">
                            {% endif %}
                            </div>
                            <div class="row">
                            <p>Fed:</p>
                            {% if not result["firstInactiveShiftFed"] %}
                            <img src="static\images\matchDisplay\True.svg">
                            {% else %}
                            <img src="static\images\matchDisplay\False.svg">
                            {% endif %}
                            </div>
                            <div class="row">
                            <p>Defended:</p>
                            {% if not result["firstInactiveShiftDefense"] %}
                            <img src="static\images\matchDisplay\True.svg">
                            {% else %}
                            <img src="static\images\matchDisplay\False.svg">
                            {% endif %}
                            </div>
                        {% endif %}
                    </div>
                
                </div>
                <div class="row">
                    <div>
                        <p>third shift</p>
                        {% if result["firstShift"] %}
                        {{result["secondActiveShiftFuelTotal"]}}
                        {{result["secondActiveShiftFuelTotalMissed"]}}
                        <table class="scoretable">
                            <tr>
                                <th>Time</th>
                                <th>Scored</th>
                                <th>Missed</th>
                                <th>Fuel shot per second</th>
                                <th>Fuel scored per second</th>
                            </tr>
                            {% for period in result["secondActiveShiftFuel"] %}
                            <tr>
                                <td>{{period["time"]}}</td>
                                <td>{{period["scored"]}}</td>
                                <td>{{period["missed"]}}</td>
                                <td>{{period["fuelShotPerSecond"]}}</td>
                                <td>{{period["fuelScoredPerSecond"]}}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        <div class="row">
                            <h2>Fed:</h2>
                            {% if result["secondActiveShiftFed"] %}
                            <img src="static\images\matchDisplay\True.svg">
                            {% else %}
                            <img src="static\images\matchDisplay\False.svg">
                            {% endif %}
                            <h2>Defended:</h2>
                            {% if result["secondActiveShiftDefense"] %}
                            <img src="static\images\matchDisplay\True.svg">
                            {% else %}
                            <img src="static\images\matchDisplay\False.svg">
                            {% endif %}
                        </div>
                        {% else %}
                            <div class="row">
                            <p>Scored:</p>
                            {% if not result["secondInactiveShiftScored"] %}
                            <img src="static\images\matchDisplay\True.svg">
                            {% else %}
                            <img src="static\images\matchDisplay\False.svg">
                            {% endif %}
                            </div>
                            <div class="row">
                            <p>Fed:</p>
                            {% if not result["secondInactiveShiftFed"] %}
                            <img src="static\images\matchDisplay\True.svg">
                            {% else %}
                            <img src="static\images\matchDisplay\False.svg">
                            {% endif %}
                            </div>
                            <div class="row">
                            <p>Defended:</p>
                            {% if not result["secondInactiveShiftDefense"] %}
                            <img src="static\images\matchDisplay\True.svg">
                            {% else %}
                            <img src="static\images\matchDisplay\False.svg">
                            {% endif %}
                            </div>
                        {% endif %}
                    </div>
                    <div>
                        <p>fourth shift</p>
                        {% if not result["firstShift"] %}
                        {{result["secondActiveShiftFuelTotal"]}}
                        {{result["secondActiveShiftFuelTotalMissed"]}}
                        <table class="scoretable">
                            <tr>
                                <th>Time</th>
                                <th>Scored</th>
                                <th>Missed</th>
                                <th>Fuel shot per second</th>
                                <th>Fuel scored per second</th>
                            </tr>
                            {% for period in result["secondActiveShiftFuel"] %}
                            <tr>
                                <td>{{period["time"]}}</td>
                                <td>{{period["scored"]}}</td>
                                <td>{{period["missed"]}}</td>
                                <td>{{period["fuelShotPerSecond"]}}</td>
                                <td>{{period["fuelScoredPerSecond"]}}</td>
                            </tr>
                            {% endfor %}
                            
                        </table>
                        <div class="row">
                            <h2>Fed:</h2>
                            {% if result["secondActiveShiftFed"] %}
                            <img src="static\images\matchDisplay\True.svg">
                            {% else %}
                            <img src="static\images\matchDisplay\False.svg">
                            {% endif %}
                            <h2>Defended:</h2>
                            {% if result["secondActiveShiftDefense"] %}
                            <img src="static\images\matchDisplay\True.svg">
                            {% else %}
                            <img src="static\images\matchDisplay\False.svg">
                            {% endif %}
                        </div>
                        {% else %}
                            <div class="row">
                            <p>Scored:</p>
                            {% if not result["secondInactiveShiftScored"] %}
                            <img src="static\images\matchDisplay\True.svg">
                            {% else %}
                            <img src="static\images\matchDisplay\False.svg">
                            {% endif %}
                            </div>
                            <div class="row">
                            <p>Fed:</p>
                            {% if not result["secondInactiveShiftFed"] %}
                            <img src="static\images\matchDisplay\True.svg">
                            {% else %}
                            <img src="static\images\matchDisplay\False.svg">
                            {% endif %}
                            </div>
                            <div class="row">
                            <p>Defended:</p>
                            {% if not result["secondInactiveShiftDefense"] %}
                            <img src="static\images\matchDisplay\True.svg">
                            {% else %}
                            <img src="static\images\matchDisplay\False.svg">
                            {% endif %}
                            </div>
                        {% endif %}
                    </div>
                
                </div>
            </div>

            <div class="sectionDiv">
                <h1>Endgame</h1>

                <div clas="table">
                    <div class="row">
                        <div class="cell cell2"><b>Total Scored:</b></div>
                        <div class="cell cell2 miss"><b>Total Missed:</b></div>
                    </div>
                    <div class="row">
                        <div class="cell cell2">
                            <p>{{ result["endgameFuelTotal"] }}</p>    
                        </div>
                        <div class="cell cell2 miss">
                            <p>{{ result["endgameFuelTotalMissed"] }}</p>
                        </div>
                    </div>
                </div>

                <table class="scoretable">
                    <tr>
                        <th>Time</th>
                        <th>Scored</th>
                        <th>Missed</th>
                        <th>Fuel shot per second</th>
                        <th>Fuel scored per second</th>
                    </tr>
                    {% for period in result["endgameFuel"] %}
                    <tr>
                        <td>{{period["time"]}}</td>
                        <td>{{period["scored"]}}</td>
                        <td>{{period["missed"]}}</td>
                        <td>{{period["fuelShotPerSecond"]}}</td>
                        <td>{{period["fuelScoredPerSecond"]}}</td>
                    </tr>
                    {% endfor %}
                </table>
                <div class="row">
                    <p>Fed:</p>
                    {% if not result["endgameFed"] %}
                    <img src="static\images\matchDisplay\True.svg">
                    {% else %}
                    <img src="static\images\matchDisplay\False.svg">
                    {% endif %}
                    </div>
                    <div class="row">
                    <p>Defended:</p>
                    {% if not result["endgameDefense"] %}
                    <img src="static\images\matchDisplay\True.svg">
                    {% else %}
                    <img src="static\images\matchDisplay\False.svg">
                    {% endif %}
                </div>
            </div>

            <div class="sectionDiv">
                <div class="row">
                    <div class="row">
                            <h2>From Outpost:</h2>
                            {% if not result["outpostIntake"] %}
                            <img src="static\images\matchDisplay\True.svg">
                            {% else %}
                            <img src="static\images\matchDisplay\False.svg">
                            {% endif %}
                            </div>
                            <h2>Into Outpost:</h2>
                            {% if not result["fedToOutpost"] %}
                            <img src="static\images\matchDisplay\True.svg">
                            {% else %}
                            <img src="static\images\matchDisplay\False.svg">
                            {% endif %}
                            </div>
                            <div class="row">
                            <h2>Ground:</h2>
                            {% if not result["groundIntake"] %}
                            <img src="static\images\matchDisplay\True.svg">
                            {% else %}
                            <img src="static\images\matchDisplay\False.svg">
                            {% endif %}
                            </div>
                </div>
                {{ result["endClimb"]}}
            </div>

            <div class="sectionDiv">
                <h1> Fouls </h1>

                <div clas="table">
                    <div class="row">
                        <div class="cell cell2"><b>Minor:</b></div>
                        <div class="cell cell2"><b>Major:</b></div>
                    </div>
                    <div class="row">
                        <div class="cell cell2">
                            <p>{{ result["minorFouls"] }}</p>    
                        </div>
                        <div class="cell cell2">
                            <p>{{ result["majorFouls"] }}</p>
                        </div>
                    </div>
                </div>
            </div>

            <h3>Comment:</h3>
            {% if result["comment"] %}
            {% if result["cannedComments"] %}
            <ul>
                {% for cannedComment in result["cannedComments"] %}
                <li>{{cannedComment}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <p>{{ result["comment"] }}</p>
            {% elif result["cannedComments"] %}
            <ul>
                {% for cannedComment in result["cannedComments"] %}
                <li>{{cannedComment}}</li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No comment.</p>
            {% endif %}
            
        </div>
    </div>
    {% endfor %}
    </div>
    {% else %}
    <p>No data</p>
    <a href="{{ url_for('submitScorePage', team=team['teamNumber'], compLevel=results['compLevel'], matchNumber=results['matchNumber'], setNumber=results['setNumber'], robotStation=color+(loop.index|string)) }}">Scout this team</a>
    {% endif %}
    <br>
</div>
{% endfor %}
</div>
</div>
<!-- {% if loop.index == 1 %}<div class="spacer"></div>{% endif %} -->
{% endfor %}

<div id="remove"><p>Press on one of the teams to see their results</p></div>
<div class="score-breakdown" id="score-breakdown">
<p>Score breakdown</p>
<div class="score-div colorless">
    <div class="number">
        <p>Team</p>
    </div>
    <div class="score">
        <p>Score</p>
    </div>
</div>
{% for teamSection in teams %}
{% set color = 'red' if loop.index == 1 else 'blue' %}
<div class="{{color}}-score">
{% for team in teamSection %}
<div class="score-div">
    <div class="number">
        <p>{{team['teamNumber']}}</p>
    </div>
    <div class="score">
        {% if team["hasData"] %}
        <p>{{ team['results'][-1]['score'] }}</p>
        {% else %}
        <p>None</p>
        {% endif %}
    </div>
</div>
{% endfor %}
</div>
{% endfor %}
</div>

<div>
    {% if not madePrediction %}
    <div>
        <!-- haven't made a prediction yet -->
        <button onclick="predictIsRed=true">red</button>
        <button onclick="predictIsRed=false">blue</button>
        <input type="number" min="0" id="predictPointsInput">
        <button onclick="createSubmission()">Make submission</button>
        <script>
            var predictIsRed = false;
            function createSubmission(){
                rawData = {
                    "compLevel":"{{compLevel}}",
                    "matchNumber":{{matchNum}},
                    "setNumber":{{setNum}},
                    "forRed":predictIsRed,
                    "points":parseInt(document.getElementById("predictPointsInput").value)
                };
                data = JSON.stringify(rawData);
                fetch('{{url_for("createPredictionPage")}}', {
                    method: "POST",
                    body: data, 
                    headers: {
                        "Content-type": "application/json; charset=UTF-8"
                    }
                }).then(response =>{
                    if (response.ok){
                        alert("Succesfully submitted");
                        window.location.reload()
                    } else{
                        alert("There was an error submitting.");
                    }
                });
            }
        </script>
    </div>
    {% else %}
    <p>already predicted</p>
    {% endif %}
</div>

{% if showAdmin %}
<div>
    <p>you are an admin</p>
    <a href="{{url_for('updateMatchFromTBAPage',matchNum=matchNum,compLevel=compLevel,setNum=setNum)}}">update from tba</a>
</div>
{% endif %}
{% endblock %}