{% extends 'base.html' %}

{% block head %}
<style>
    .card{
        background-color: var(--darker-navy);
        box-sizing: border-box;
        padding:8px;
        margin-top:10px;
        border-radius: 2rem;
        width:min(500px,calc(100vw - 40px));
        margin-left: 20px;

        display: flex;
        flex-direction: row;
        align-items: center;
    }


    button {
        height: 40px;
        width: 150px;
    }

    @media screen and (width > 280px){
        button {
            font-size: medium;
        }
    }
    
    .approved {
        background-color: rgba(0, 128, 0, 0.093);
    }

    .unapproved {
        background-color: rgba(255, 0, 0, 0.132);
    }

    h2 {
        width: 100px;
    }

</style>
{% endblock %}

{% block title %}Manage Users{% endblock %}

{% block content %}
<h1>Manage Users</h1>
<div>
{% for user in users[::-1] %}
<div class="card">
    <h2>{{ user["username"] }}</h2>
    {% if user["admin"] %}
    <p>This user is an admin.</p>
    {% else %}
    {% if user["approved"] %}
    <button id="button_{{ user['username'] }}" onclick="sendApprovalRequest('{{ user['username'] }}',false)" class="approved">Unapprove User</button>
    {% else %}
    <button id="button_{{ user['username'] }}" onclick="sendApprovalRequest('{{user['username']}}',true)"  class="unapproved">Approve User</button>
    {% endif %}
    <p id="error_{{ user['username'] }}" style="display: none; color:red;">Error</p>
    {% endif %}
</div>
{% endfor %}
</div>

<script>
    function sendApprovalRequest(username,approved){
        data = JSON.stringify({"username": username, "approved": approved});
        error = document.getElementById("error_"+username);
        button = document.getElementById("button_"+username);
        fetch(window.location.href, {
            method: "POST",
            body: data,
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        }).then(response => {
            if (response.ok){
                error.style =  "display: none; color:red;";
                button.innerHTML = approved ? "Unapprove User" : "Approve User";
                button.setAttribute("onclick","sendApprovalRequest('" + username + "'," + (!approved).toString() + ")");
                button.classList.remove('approved')
                button.classList.remove('unapproved')
                button.classList.add(approved ? 'approved' : 'unapproved')
            } else{
                error.style =  "display: inline; color:red;";
            };
        });
        
    };
</script>

{% endblock %}