{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block title %}Add a Match Schedule{% endblock %}

{% block content %}
<h1>Add a Match Schedule</h1>
<form id="form">
    <label for="code">Event Code</label>
    <input type="textbox" id="code" name="code" required>
    </br>
    <input type="submit">
</form>
<p style="display:none;" id="message">Submitted schedule for ####!</p>

<script>
    document.getElementById("form").addEventListener('submit', async function(event) {
    event.preventDefault();
    submitData(
        document.getElementById("code").value
    );
    });

    function submitData(code){
        fetch(window.location.href, {
        method: "POST",
        body: JSON.stringify({"code": code}),
        headers: {
            "Content-type": "application/json"
        }
        }).then(response =>{
            message = document.getElementById("message");
            if (response.ok){
                message.innerHTML = "Submitted schedule for  " + code + "!";
                message.style = "display:inline;"
            } else if(response.status == 409){
                message.innerHTML = "Matches already exist in the database."
                message.style = "display:inline; color:red;"
            }else{
                message.innerHTML = "Error, unable to submit."
                message.style = "display:inline; color:red;"
            }
        });
    }
</script>
{% endblock %}