<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/main.css') }}">
    <link rel="icon" type="image/png" href="/static/images/logo/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/static/images/logo/favicon.svg" />
    <link rel="shortcut icon" href="/static/images/logo/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/logo/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="NerdScout" />
    <link rel="manifest" href="/static/images/logo/site.webmanifest" />
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block content %}{% endblock %}
    <div class="footer-spacer"></div>
    <footer>
        {% if session["username"] %}<p>Logged in as {{ session["username"] }}</p>{% else %}<a href="{{ url_for('login',next=request.path) }}">login</a> <a href="{{ url_for('newUserPage') }}">create account</a>{% endif %}
        <p><a href="{{ url_for('aboutPage')}}">about</a></p>
        <p>The Nerd Herd 687</p>
    </footer>
</body>
</html>