<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/main.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block content %}{% endblock %}
    <footer>
        <p>footer</p>
        <p>The Nerd Herd 687</p>
    </footer>
</body>
</html>