{% extends 'base.html' %}

{% block head %}
<link rel="preload" href="{{ url_for('static', filename='stylesheets/index.css') }}" as="style">
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/index.css') }}">
{% endblock %}

{% block title %}NerdScout{% endblock %}

{% block content %}
<div class="mainMenu">
    <header class="menuSection">
        <img id="logo" src="{{ url_for('static', filename='images/logo/logo.svg') }}">
        <h1>NerdScout</h1>
    </header>
    <p><a href="{{ url_for('aboutPage')}}">about</a></p>
    <a href="{{ url_for('teamPage') }}" class="menuSection">Teams</a>
    <a href="{{ url_for('renderMatch') }}" class="menuSection">Matches</a>
</div>
{% endblock %}