{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block title %}NerdScout Select Match{% endblock %}

{% block content %}
<h1>You didn't select a match</h1>
<a href="?matchNum=9999&compLevel=qm&setNum=1">Click here to view the test match</a>
<ul>
    {% for match in matches %}
    <div data-compLevel="{{ match['compLevel'] }}" data-matchNumber="{{ match['matchNumber'] }}" data-setNumber="{{ match['setNumber'] }}">
        <h2>{{ match["compLevelText"] }} {{ match["matchNumber"] }} {% if match["compLevel"] == "f" %}Set {{ match["setNumber"] }}{% endif %}</h2>
        <p><a href="?matchNum={{ match['matchNumber'] }}&compLevel={{ match['compLevel'] }}&setNum={{ match['setNumber'] }}">Link</a></p>
    </div>
    {% endfor %}
</ul>
{% endblock %}