{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static', filename='javascript/match.js') }}" defer></script>
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/match.css') }}">
{% endblock %}

{% block title %}Match Viewer{% endblock %}

{% block content %}
<h1>Display match</h1>
<p>This is the temporary display match page</p>

{% for teamSection in teams %}
<div class="center-horizontal">
<div class="{% if loop.index == 1 %}red{% else %}blue{% endif %}-table">
{% for team in teamSection %}
<div class="team-{{ loop.index }}">
    <p>Team Number {{ team['teamNumber'] }}</p>
    <a href="{{ url_for('teamPage',team=team['teamNumber']) }}">To team page</a>
    {% if team["hasData"] %}
    <div class="results-div">
    {% for result in team['results'] %}
    <div class="match-data revision-{{ loop.index }}">
        <p>Scored by: {{result['scout']}}</p>
        <div class="pos-div">
            <div>
                <h3>Start Position: {{ result["startPos"] }}</h3>
            </div>
            <img src="{{ url_for('static', filename='images/matchDisplay/startingPositions.svg') }}">
        </div>
        <div>
            <div class="section-title">
                <h2>Auto</h2>
            </div>
            <h3>Left During Auto:</h3>
            <p>{{ result["autoLeave"] }}</p>
            <h3>Scored on reef:</h3>
            <div class="reef-div">
                <img src="{{ url_for('static', filename='images/matchDisplay/reef.svg') }}">
                <div>
                    <p class="reef-l4">L4: {{ result["autoReef"][3] }}</p>
                    <p class="reef-l3">L3: {{ result["autoReef"][2] }}</p>
                    <p class="reef-l2">L2: {{ result["autoReef"][1] }}</p>
                    <p class="reef-l1">L1: {{ result["autoReef"][0] }}</p>
                </div>
            </div>
            <h3>Scored on processor:</h3>
            <p>{{ result["autoProcessor"] }}</p>
            <h3>Scored on net:</h3>
            <p>{{ result["autoNet"] }}</p>
        </div>
        <div>
            <div class="section-title">
                <h2>Teleop</h2>
            </div>
            <h3>Scored on reef:</h3>
            <div class="reef-div">
                <img src="{{ url_for('static', filename='images/matchDisplay/reef.svg') }}">
                <div>
                    <p class="reef-l4">L4: {{ result["teleReef"][3] }}</p>
                    <p class="reef-l3">L3: {{ result["teleReef"][2] }}</p>
                    <p class="reef-l2">L2: {{ result["teleReef"][1] }}</p>
                    <p class="reef-l1">L1: {{ result["teleReef"][0] }}</p>
                </div>
            </div>
            <h3>Scored on processor:</h3>
            <p>{{ result["teleProcessor"] }}</p>
            <h3>Scored on net:</h3>
            <p>{{ result["teleNet"] }}</p>
        </div>
        <div class="section-title"></div>
        <p>End position: {{ result["endPos"] }}</p>
        {% if result["minorFouls"]>0 %}
        <p>Minor fouls: {{ result["minorFouls"] }}</p>
        {% endif %}
        {% if result["majorFouls"]>0 %}
        <p>Major fouls: {{ result["majorFouls"] }}</p>
        {% endif %}
        <p>Comment: {{ result["comment"] }}</p>
    </div>
    {% endfor %}
    </div>
    {% else %}
    <p>No data</p>
    {% endif %}
    <br>
</div>
{% endfor %}
</div>
</div>
{% if loop.index == 1 %}<div class="spacer"></div>{% endif %}
{% endfor %}
{% endblock %}