{% extends 'base.html' %}

{% block head %}
<script src="{{ url_for('static', filename='javascript/match.js') }}" defer></script>
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/match.css') }}">
{% endblock %}

{% block title %}Match Viewer{% endblock %}

{% block content %}
<h1>Display match</h1>
<p>This is the temporary display match page</p>

{% for teamSection in teams %}
<div class="center-horizontal">
<div class="{% if loop.index == 1 %}red{% else %}blue{% endif %}-table">
{% for team in teamSection %}
<div class="team-{{ loop.index }}">
    <p>Team Number {{ team['teamNumber'] }}</p>
    <a href="{{ url_for('teamPage',team=team['teamNumber']) }}">To team page</a>
    {% if team["hasData"] %}
    <div class="results-div">
    {% for result in team['results'] %}
    <div class="match-data revision-{{ loop.index }}">
        <p>Scored by: {{result['scout']}}</p>
        <ul>
            <li>Start Position: {{ result["startPos"] }}</li>
            <li>Left During Auto: {{ result["autoLeave"] }}</li>
            <li>Scored Reef During Auto: {{ result["autoReef"] }}</li>
            <li>Scored Reef During Tele: {{ result["teleReef"] }}</li>
            <li>Scored Processor During Auto: {{ result["autoProcessor"] }}</li>
            <li>Scored Processor During Tele: {{ result["teleProcessor"] }}</li>
            <li>Scored Net During Auto: {{ result["autoNet"] }}</li>
            <li>Scored Net During Tele: {{ result["teleNet"] }}</li>
            <li>End Position: {{ result["endPos"] }}</li>
            <li>Minor Fouls: {{ result["minorFouls"] }}</li>
            <li>Major Fouls: {{ result["majorFouls"] }}</li>
            <li>Comment: {{ result["comment"] }}</li>
        </ul>
    </div>
    {% endfor %}
    </div>
    {% else %}
    <p>No data</p>
    {% endif %}
    <br>
</div>
{% endfor %}
</div>
</div>
{% if loop.index == 1 %}<div class="spacer"></div>{% endif %}
{% endfor %}
{% endblock %}