{% extends 'base.html' %}

{% block head %}
<script>
    function submitData(){
        data = '{"matchNum":9999,"compLevel":"qm","setNum":1,"robot":"blue3","startPos":2,"autoLeave":true,"autoReef":[0,0,1,1],"teleReef":[2,3,0,1],"autoProcessor":1,"teleProcessor":0,"autoNet":0,"teleNet":2,"endPos":3,"minorFouls":1,"majorFouls":2,"comment":"they did ok :)","scout":"tonnieboy300"}';
        fetch(window.location.href, {
        method: "POST",
        body: data,
        headers: {
            "Content-type": "application/json; charset=UTF-8"
        }
        });
    }
</script>
<script src="{{ url_for('static', filename='javascript/submit.js') }}" defer></script>
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/submit.css') }}">
{% endblock %}

{% block title %}Error {{code}}{% endblock %}

{% block content %}
<div class="takisBaro">
    <button id="matchBtn"onClick="showMatch()" >Match</button>
    <button id="autoBtn" onClick="showAuto()">Auto</button>
    <button id="teleopBtn" onClick="showTeleop()">Teleop</button>
</div>

<div class="mainInput">
    <div id="match" style="display: inline;">
        <p>Scouter Name</p>
        <input type="text">
        <p>Match Number</p>
        <input type="number">
        <p>Team number</p>
        <input type="number">
    </div>

    <div id="auto" style="display: none;">


        <p>Starting position</p>
        <button>One</button>
        <button>Two</button>
        <button>Three</button>

        <p>Leave</p>
        <input type="checkbox">

        <p>Coral</p>

        <p>L1</p>
        <div class="counter">
            <button>+</button>
            <p>0</p>
            <button>-</button>
        </div>

        <p>L2</p>
        <div class="counter">
            <button>+</button>
            <p>0</p>
            <button>-</button>
        </div>

        <p>L3</p>
        <div class="counter">
            <button>+</button>
            <p>0</p>
            <button>-</button>
        </div>

        <p>L4</p>
        <div class="counter">
            <button>+</button>
            <p>0</p>
            <button>-</button>
        </div>

        Algae

        <p>Processor</p>
        <div class="counter">
            <button>+</button>
            <p>0</p>
            <button>-</button>
        </div>
        
        <p>Net</p>
        <div class="counter">
            <button>+</button>
            <p>0</p>
            <button>-</button>
        </div>


    </div>

    <div id="teleop" style="display: none;">

        <p>Coral</p>

        <p>L1</p>
        <div class="counter">
            <button>+</button>
            <p>0</p>
            <button>-</button>
        </div>

        <p>L2</p>
        <div class="counter">
            <button>+</button>
            <p>0</p>
            <button>-</button>
        </div>

        <p>L3</p>
        <div class="counter">
            <button>+</button>
            <p>0</p>
            <button>-</button>
        </div>

        <p>L4</p>
        <div class="counter">
            <button>+</button>
            <p>0</p>
            <button>-</button>
        </div>

        Algae

        <p>Processor</p>
        <div class="counter">
            <button>+</button>
            <p>0</p>
            <button>-</button>
        </div>
        
        <p>Net</p>
        <div class="counter">
            <button>+</button>
            <p>0</p>
            <button>-</button>
        </div>

        <p>Ending position</p>
        <button>None</button>
        <button>Park</button>
        <button>Shallow</button>
        <button>Deep</button>

        <p>Minor Fouls</p>
        <div class="counter">
            <button>+</button>
            <p>0</p>
            <button>-</button>
        </div>

        <p>Major Fouls</p>
        <div class="counter">
            <button>+</button>
            <p>0</p>
            <button>-</button>
        </div>

        <p>Comments</p>
        <input class="text">
        
    </div>

</div>

<div class="submitDiv">
    <button onclick="submitData()" class="submitButton">Submit</button>
</div>

{% endblock %}