{% extends "base.html" %}

{% block title %}Team Table{% endblock %}

{% block head %}
<link rel="preload" href="{{ url_for('static', filename='stylesheets/table.css') }}" as="style">
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/table.css') }}">
<script src="{{ url_for('static',filename='javascript/table.js')}}" defer></script>
{% endblock %}

{% block content %}
<h1>Team Data Table</h1>

<a href="javascript:download_table_as_csv()">download as csv</a>
<br>
<select id="sort-category">
    <!-- <option value="team" selected>Team</option> -->
    {% for key in displayNames %}
    <option value="{{key.lower()}}">{{displayNames[key]}}</option>
    {% endfor %}
</select>
<select id="sort-input">
    <option value="ascending">Ascending</option>
    <option value="descending">Descending</option>
</select>
<button onclick="updateSort()">Sort</button>
<table id="table">
    <tr class="header-row">
        {% for key in displayNames.keys() %}
        <th class="table-{{key}} {% if loop.index == 1 %}team-column{% endif %}" data-type="string">{{displayNames[key]}}</th>
        {% endfor %}
    </tr>
    {% for team in data %}
    {% if team["results"] %}
    <tr class="team-row" data-team="{{team['team']}}" {% for key in displayNames %}data-{{key}}="{{team['results'][loop.index-1][key]}}"{% endfor %}>
        <td class="team-thing column-team"><p>{{team["team"]}}</p></td>
        {% for key in displayNames %}
        <td  class="column-{{key.lower()}}">
            <!--{{key}}-->
            {% if links %}
            <a href="{{team['results'][loop.index-1]['matchId']}}">{{team["results"][loop.index-1][key]}}</a>
            {% else %}
            <p>{{team["results"][loop.index-1][key]}}</p>
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endif %}
    {% endfor %}
</table>

{% set previousPage = url_for('strategyPage') %}
{% include 'backButton.html' %}
{% endblock %}