{% extends 'auth/authTemplate.html' %}

{% block title %}Login{% endblock %}

{% block form %}
<h1>Login to Nerd Scout</h1>
<form method="post">
    <div>
        <label for="username">Username: </label>
        <input 
            type="text"
            name="username"
            value="{{request.form['username']}}"
            class="text-input"
            required
        />
    </div>
    <div>
        <label for="password">Password: </label>
        <input 
            type="password"
            name="password"
            class="text-input"
            required
        />
    </div>
    <div>
        <input
            type="submit"
            value="Log In"
            class="submit-input"
        />
    </div>
</form>
{% if error %}
<p>{{error}}</p>
{% endif %}

{% endblock %}