{% extends 'auth/authTemplate.html' %}

{% block title %}New User{% endblock %}

{% block form %}

{% if message %}
<p>{{message}}</p>
{% endif %}

<h1>Create an account</h1>
<form method="post">
    <div>
        <label for="username">Username: </label>
        <input 
            type="text"
            name="username"
            value="{{request.form['username']}}"
            class="text-input"
            required
        />
    </div>
    <div>
        <label for="password">Password: </label>
        <input 
            type="password"
            name="password"
            class="text-input"
            required
        />
    </div>
    <div>
        <input
            type="submit"
            value="Submit"
            class="submit-input"
        />
    </div>
</form>

{% endblock %}