{% extends 'auth/authTemplate.html' %}

{% block title %}Password Request{% endblock %}

{% block form %}
{% if error %}
<p>{{error}}</p>
{% endif %}
<h1>Request a Password Reset</h1>
<form method="post">
    <div>
        <label for="username">Username: </label>
        <input 
            type="text"
            name="username"
            value="{{request.form['username']}}"
            class="text-input"
            required
        />
    </div>
    <div>
        <label for="password">Password: </label>
        <input 
            type="password"
            name="password"
            class="text-input"
            required
        />
    </div>
    <div>
        <input
            type="submit"
            value="Submit Request"
            class="submit-input"
        />
    </div>
</form>
<br><br><br>
{% endblock %}