{% extends 'base.html' %}

{% block head %}
<style>
    .card{
        background-color: var(--darker-navy);
        box-sizing: border-box;
        padding:8px;
        margin-top:10px;
        border-radius: 2rem;
        min-width:min(500px,calc(100vw - 40px));
        width: fit-content;
        margin-left: 20px;

        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }

    .time{
        margin-top:0;
    }

    button {
        height: 40px;
        flex-grow:1;
    }

    @media screen and (width > 280px){
        button {
            font-size: medium;
        }
    }
    
    .approved {
        background-color: rgba(0, 128, 0, 0.093);
        margin-right:5px;
    }

    .unapproved {
        background-color: rgba(255, 0, 0, 0.132);
    }

    
    h2 {
        min-width: 100px;
    }
    
    .buttonContainer{
        display:flex;
        flex-direction: row;
        width:100%;
    }


</style>
<script>
function timestampToString(timestamp){
        d = new Date(timestamp).toString();
        return d
    }

    function timestampInObject(timestamp,id){
        d = timestampToString(timestamp);
        console.log(d);
        document.getElementById(id).innerHTML = d;
    }
</script>
{% endblock %}

{% block title %}Reset Passwords{% endblock %}

{% block content %}
<h1>Reset Passwords</h1>
<div>
{% if not requests %}
<h2>No password requests found.</h2>
{% endif %}
{% for passwordRequest in requests[::-1] %}
<div class="card" id="card_{{ passwordRequest['_id']['$oid'] }}">
{# {{passwordRequest}} #}
    <h2>{{ passwordRequest["data"]["username"] }}</h2>
    <p id="time_{{ passwordRequest['_id']['$oid'] }}" class="time"></p>
    <script>
    timestampInObject('{{ passwordRequest['data']['timestamp']['$date'] }}', 'time_{{ passwordRequest['_id']['$oid'] }}');
    </script>
    <div class="buttonContainer">
        <button id="button_{{ passwordRequest['_id']['$oid'] }}" onclick="sendPasswordReset('{{ passwordRequest['data']['username'] }}','{{ passwordRequest['_id']['$oid'] }}',true)" class="approved">Approve</button>
        <button id="button_{{ passwordRequest['_id']['$oid'] }}" onclick="sendPasswordReset('{{ passwordRequest['data']['username'] }}','{{ passwordRequest['_id']['$oid'] }}',false)" class="unapproved">Delete</button>
    </div>
    <p id="error_{{ passwordRequest['_id']['$oid'] }}" style="display: none; color:red;">Error</p>
</div>
{% endfor %}
</div>

<script>
    function sendPasswordReset(username,id,approved){
        data = JSON.stringify({"username": username, "id": id, "approved": approved});
        error = document.getElementById("error_"+id);
        card = document.getElementById("card_"+id)

        fetch(window.location.href, {
            method: "POST",
            body: data,
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        }).then(response => {
            if (response.ok){
                card.style = "display: none;"
                error.style =  "display: none; color:red;";
            } else{
                error.style =  "display: inline; color:red;";
            };
        });
        
    };
</script>

{% endblock %}